<div class="page-content">
  <div class="center-auth-content">
    <div class="form-title">
      <h2>{{ "forgetPassword.ResetYourPassword" | translate }}</h2>
      <p class="mb-4">{{ "forgetPassword.EnterPassword" | translate }}</p>
      <img src="/assets/imgs/Characters.svg" alt="" srcset="" />
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <form
          class="form w-100"
          [formGroup]="newPasswordForm"
          novalidate="novalidate"
          id="kt_login_signin_form"
          (ngSubmit)="submit()"
        >
          <!--begin::Action-->

          <!-- begin::Alert error-->
          <ng-container *ngIf="hasError">
            <div class="mb-lg-15 alert alert-danger">
              <div class="alert-text font-weight-bold">
                {{ "forgetPassword.ThePasswordIsRepeated" | translate }}
              </div>
            </div>
          </ng-container>
          <!-- end::Alert error-->

          <!--begin::Form group-->
          <div class="">
            <div class="fv-col-6 mb-8">
              <label for="">{{
                "forgetPassword.NewPassword" | translate
              }}</label
              ><span class="text-danger mx-2 fs-2">*</span>
              <div class="input-group pass-sec mb-5">
                <input
                  class="form-control bg-transparent"
                  [type]="showPassword ? 'text' : 'password'"
                  formControlName="password"
                  [placeholder]="'SharedFields.Password' | translate"
                  autocomplete="off"
                />
                <span class="input-group-text" id="basic-addon1">
                  <i
                    class="toggle-password fa fa-fw fa-eye-slash"
                    [ngClass]="showPassword ? ' fa-eye' : ' fa-eye-slash'"
                    (click)="togglePasswordVisibilty()"
                    class="toggle-password fa fa-fw"
                  ></i>
                </span>
              </div>
              <ng-container
                [ngTemplateOutlet]="formError"
                [ngTemplateOutletContext]="{
                  validation: 'required',
                  message: 'Validation.PasswordIsRequired' | translate,
                  control: newPasswordForm.controls['password']
                }"
              ></ng-container>

              <!-- <ng-container
                [ngTemplateOutlet]="formError"
                [ngTemplateOutletContext]="{
                  validation: 'maxlength',
                  message: 'Validation.PasswordMaxLength' | translate,
                  control: newPasswordForm.controls['password']
                }"
              ></ng-container> -->
              <ng-container
                [ngTemplateOutlet]="formError"
                [ngTemplateOutletContext]="{
                  validation: 'pattern',
                  message: 'Validation.PasswordPattern' | translate,
                  control: newPasswordForm.controls['password']
                }"
              ></ng-container>
            </div>
          </div>
          <!--end::Form group-->

          <!--begin::Form group-->
          <div class="">
            <div class="fv-col-3 mb-8">
              <label for="">{{
                "SharedFields.ConfirmPassword" | translate
              }}</label
              ><span class="text-danger mx-2 fs-2">*</span>
              <div class="input-group mb-5 pass-sec">
                <input
                  class="form-control bg-transparent"
                  [type]="showPasswordConfirm ? 'text' : 'password'"
                  formControlName="passwordConfirm"
                  [placeholder]="'SharedFields.ConfirmPassword' | translate"
                  autocomplete="off"
                />
                <span class="input-group-text" id="basic-addon1">
                  <i
                    class="toggle-password fa fa-fw fa-eye-slash"
                    [ngClass]="
                      showPasswordConfirm ? ' fa-eye' : ' fa-eye-slash'
                    "
                    (click)="togglePasswordConfirmVisibilty()"
                    class="toggle-password fa fa-fw"
                  ></i>
                </span>
              </div>
              <ng-container
                [ngTemplateOutlet]="formError"
                [ngTemplateOutletContext]="{
                  validation: 'required',
                  message: 'Validation.PasswordIsRequired' | translate,
                  control: newPasswordForm.controls['passwordConfirm']
                }"
              ></ng-container>
              <!-- <ng-container
                [ngTemplateOutlet]="formError"
                [ngTemplateOutletContext]="{
                  validation: 'maxlength',
                  message: 'Validation.PasswordMaxLength' | translate,
                  control: newPasswordForm.controls['passwordConfirm']
                }"
              ></ng-container> -->
              <ng-container
                [ngTemplateOutlet]="formError"
                [ngTemplateOutletContext]="{
                  validation: 'pattern',
                  message: 'Validation.PasswordPattern' | translate,
                  control: newPasswordForm.controls['passwordConfirm']
                }"
              ></ng-container>
              <ng-container
                *ngIf="
                  newPasswordForm.controls['passwordConfirm'].errors &&
                  newPasswordForm.controls['passwordConfirm'].errors
                    .ConfirmPassword
                "
              >
                <div class="fv-plugins-message-container">
                  <div class="fv-help-block">
                    {{ "Validation.PasswordMatch" | translate }}
                  </div>
                </div>
              </ng-container>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="form-action one">
    <div class="container">
      <button
        type="submit"
        id="kt_sign_in_submit"
        class="btn btn-primary"
        [disabled]="newPasswordForm.invalid"
        (click)="submit()"
      >
        <span class="indicator-progress">
          {{ "Shared.PleaseWait" | translate }}
          <span
            class="spinner-border spinner-border-sm align-middle ms-2"
          ></span>
        </span>

        <span class="indicator-label">
          {{ "Shared.Continue" | translate }}</span
        >
      </button>
      <button (click)="redirectTo()">{{ "Buttons.Cancel" | translate }}</button>
    </div>
  </div>
</div>

<ng-template
  #formError
  let-control="control"
  let-message="message"
  let-validation="validation"
>
  <ng-container
    *ngIf="control.hasError(validation) && (control.dirty || control.touched)"
  >
    <div class="fv-plugins-message-container">
      <div class="fv-help-block">
        <span role="alert">
          {{ message }}
        </span>
      </div>
    </div>
  </ng-container>
</ng-template>
