span.num {
  background: #f1416c;
  color: #fff;
  position: relative;
  top: -6px;
  display: inline-flex;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}