.view-job {
    background: #FFFFFF;
    border-radius: 10px;
    padding: 20px;
    margin: 0rem 0;
    position: sticky;
    left: 0;
    top: 55px;
    .title {
        color: #292929;
        font-size: 20px;
        margin-bottom: 20px;
    }

    .parag {
        color: #BCBCBC;
        font-size: 16px;
        max-width: 900px;
    }

    .logo-img {
        margin-top: -70px;
        padding: 5px;
        overflow: hidden;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;
        img {
            width: 100%;
            object-fit: cover;
            border-radius: 50%;
            width: 120px;
            height: 120px;
        }
        h6 {
            strong {
                background: #4caf5033;
                color: #4CAF50;
                margin-top: 29px;
                display: inline-block;
                min-width: 75px;
                padding: 5px;
                text-align: center;
                border-radius: 5px;
            }
        }
    }

    .job-title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;

        h3 {
            color: #292929;
            font-size: 25px;
            margin: 0;
        }

        .actions {
            button {
                all: unset;
                cursor: pointer;

                &:last-child {
                    background: #FFFFFF;
                    border: 1px solid #eee;
                    border-radius: 10px;
                    min-width: 135px;
                    height: 42px;
                    color: #0274B3;
                    text-align: center;
                }
            }
        }
    }

    .job-info {
        margin: 15px 0;

        .details {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
        }

        h6 {
            img {
                height: 17px;
            }

            font-size: 16px;
            font-weight: 100;
            color: #BCBCBC;
            display: flex;
            align-items: center;

            strong {
                color: #939393;
                font-weight: 100;
            }
        }
    }

    .job-details {
        h6 {
            font-size: 16px;
            font-weight: 100;
            color: #BCBCBC;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            line-height: 30px;
            img {
                height: 20px;
            }

            strong {
                color: #939393;
                font-weight: 100;
            }

            button {
                all: unset;
                cursor: pointer;
            }
        }
    }

    .job-action {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;
        border-top: 1px solid rgba(188, 188, 188, 0.46);
        margin-top: 60px;
        padding-top: 25px;

        button {
            all: unset;
            cursor: pointer;
            background: #0274b3;
            border-radius: 10px;
            min-width: 135px;
            height: 42px;
            color: #fff;
            text-align: center;
            font-size: 16px;
        }
    }
}



.cardss {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 35px;
}
.cardss .percent {
    position: relative;
}
.cardss svg {
    overflow: visible;
    width: 100px;
    height: 100px;
}
.cardss svg circle {
    width: 100%;
    height: 100%;
    fill: none;
    stroke: #f0f0f0;
    stroke-width: 10;
    stroke-linecap: round;
}
.cardss svg circle:last-of-type {
    stroke-dasharray: 625px;
    stroke-dashoffset: calc(625px - (625px * var(--percent)) / 100);
    stroke: #3498db;
}
.cardss svg circle:last-of-type {
    stroke: #006FB0;
}

.number {
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}