<div class="header-nav">
	<app-header></app-header>
</div>
<main class="main-snap">
	<div class="main-section">
		<div class="container">
			<div class="main-section-data">
				<div class="row">
					<div class="col-lg-3 col-md-4 mb-4">
						<div class="user-profile bg-white">
							<div class="username-dt">
								<div class="usr-pic">
									<img [src]="currentUser?.imageUrl?currentUser.imageUrl:'https://media.licdn.com/dms/image/D4D03AQFh04MZVayabg/profile-displayphoto-shrink_100_100/0/1699107838969?e=1706140800&v=beta&t=i-h1Q_AFx6unHK3FyXnsAC7xvsqjBdt12kicr1Nfdds'"
										alt="">
								</div>
							</div>
							<!--username-dt end-->
							<div class="user-specs mb-4">
								<div>
									<h5 class="f-16 mt-3">{{currentUser?.name}}</h5>
									<span class="d-block jobTitle">UI/UX Designer</span>
								</div>
								<div class="px-5 mt-5 pb-4">
									<button class="btn d-block fill-btn w-100">
										<img src="assets/imgs/icons/Arrow.svg" class="me-2">
										Sea your posts 20
									</button>
									<button class="btn d-block border-btn w-100 mt-3">
										<img src="assets/imgs/icons/edit.svg" class="me-2">
										Edit Your Profile
									</button>
								</div>
							</div>
							<div class="border-top mx-5 pt-4">
								<div class="d-flex justify-content-between my-3">
									<h5 class="f-12">Who viewed your profile</h5>
									<h5 class="f-12 default-color">20</h5>
								</div>
								<div class="d-flex justify-content-between my-3">
									<h5 class="f-12">Saved</h5>
									<h5 class="f-12 default-color">20</h5>
								</div>
								<div class="d-flex justify-content-between my-3">
									<h5 class="f-12">Appreciations</h5>
									<h5 class="f-12 default-color">500</h5>
								</div>
								<div class="d-flex justify-content-between my-3">
									<h5 class="f-12">Followers</h5>
									<h5 class="f-12 default-color">350</h5>
								</div>

								<div class="d-flex justify-content-between my-3">
									<h5 class="f-12">Following</h5>
									<h5 class="f-12 default-color">600</h5>
								</div>

							</div>
							<div class="text-center py-5">
								<p class="f-12 mb-0 fw-bold opacity-75">
									You are now subscribed to the Premium $100
								</p>
								<a href="" class="fw-bold default-color f-12">
									upgrade
								</a>
							</div>
						</div>
					</div>
					<div class="col-lg-6 col-md-8 no-pd">
						<div class="main-ws-sec">
							<div class="post-topbar">
								<div class="user-picy">
									<img [src]="currentUser?.imageUrl?currentUser.imageUrl:'https://media.licdn.com/dms/image/D4D03AQFh04MZVayabg/profile-displayphoto-shrink_100_100/0/1699107838969?e=1706140800&v=beta&t=i-h1Q_AFx6unHK3FyXnsAC7xvsqjBdt12kicr1Nfdds'"
										alt=""><span role="button"
										(click)="currentUser?openCreatePost():checkLogged()">Create a post .....</span>
								</div>
								<hr class="hr-post">

								<button (click)="currentUser?openCreatePost():checkLogged()"><img
										src="assets/imgs/snapjob/camera.svg">Photo</button>
								<button (click)="currentUser?openCreatePost():checkLogged()"><img
										src="assets/imgs/snapjob/video.svg">Video</button>



								<!--post-st end-->
							</div><!--post-topbar end-->

							<div class="posts-section " *ngFor="let row of data">

								<div class="post_topbar px-5 pt-5">
									<div class="d-flex">
										<img class="userImg"
											[src]="row.userProfile?.attachementFileStorageUrl?row.userProfile?.attachementFileStorageUrl:''">
										<div class="ms-3">
											<h3>{{row.userProfile.name}}</h3>
											<span class="d-block post-JobTitle">{{row.userProfile.title}}</span>
											<span>
												3min ago •
												<img src="assets/imgs/global.svg" class="img-fluid timeImg">
											</span>
										</div>
									</div>
									<div class="ed-opts" *ngIf="row.isOwner">
										<a class="ed-opts-open" role="button" (click)="row.openMenue=!row.openMenue">
											<i class="la la-ellipsis-h"></i>
										</a>
										<ul class="ed-options" *ngIf="row.openMenue">
											<li><a (click)="openCreatePost(row.id)" role="button"><i
														class="fa fa-edit"></i>Edit Post</a></li>
											<hr class="hr-post">
											<li><a (click)="deletePost(row.id)" role="button"><i
														class="fa-regular fa-trash-can"></i>Delete Post</a></li>
										</ul>
									</div>
								</div>

								<div class="job_descp mb-3 p-5">
									<p class="fw-bold mb-3">
										{{row.content}}
										<br>
										<strong class="default-color fw-bold">
											#Test
										</strong>
									</p>
									<button class="btn default-color fw-bold p-0">
										See translation
									</button>
								</div>
								<!-- images -->
								<div>
									<div class="row postImages mx-0">
										<div class="col-lg-6 px-1">
											<img src="assets/imgs/postImg.png" class="img-fluid">
										</div>
										<div class="col-lg-6 px-1">
											<img src="assets/imgs/postImg2.png" class="img-fluid">
										</div>
										<div class="col-lg-4 px-1">
											<img src="assets/imgs/postImg.png" class="img-fluid">
										</div>
										<div class="col-lg-4 px-1">
											<img src="assets/imgs/postImg2.png" class="img-fluid">
										</div>
										<div class="col-lg-4 px-1">
											<img src="assets/imgs/postImg.png" class="img-fluid">
										</div>
									</div>
								</div>
								<div class="d-flex justify-content-between p-5 mt-4">
									<div>
										<span class="comment-txt fw-bold" *ngIf="row.numberOfReacts===0">
											{{row.numberOfComments}} Like
										</span>
									</div>
									<div>
										<span class="comment-txt fw-bold" *ngIf="row.numberOfComments===0">
											{{row.numberOfComments}} comments
										</span>
										<span class="comment-txt fw-bold" *ngIf="row.numberOfReposts===0"> •
											{{row.numberOfReposts}} reposts
										</span>
									</div>
								</div>

								<div class="d-flex justify-content-between mt-3 border-top pt-3 px-5">
									<div class="text-center">
										<img src="assets/imgs/like.svg" class="img-fluid">
										<span class="action-txt">
											Like
										</span>
									</div>
									<div class="text-center">
										<img src="assets/imgs/comment.svg" class="img-fluid">
										<span class="action-txt">
											Comment
										</span>
									</div>
									<div class="text-center">
										<img src="assets/imgs/repost.svg" class="img-fluid">
										<span class="action-txt">
											Repost
										</span>
									</div>
								</div>

								<div class="usy-dt mt-5 px-5 pb-5">
									<img class="my-auto"
										[src]="currentUser?.imageUrl?currentUser.imageUrl:'https://media.licdn.com/dms/image/D4D03AQFh04MZVayabg/profile-displayphoto-shrink_100_100/0/1699107838969?e=1706140800&v=beta&t=i-h1Q_AFx6unHK3FyXnsAC7xvsqjBdt12kicr1Nfdds'">
									<div class="usy-name w-100">
										<div class="input-group w-100">
											<input type="text" class="form-control" placeholder="add a comment">
											<div class="input-group-append">
												<button class="btn position-relative py-2 m-0" type="button">
													<img src="assets/imgs/shareImage.svg" class="img-fluid m-0">
												</button>
											</div>
										</div>
									</div>

								</div>

							</div>

						</div>

					</div>

					<div class="col-lg-3 pd-right-none no-pd">
						<div class="right-sidebar">

							<div class="suggestions full-width">
								<div class="sd-title">
									<h4>Add to Your Feeds ( company )</h4>

								</div><!--sd-title end-->
								<div class="suggestions-list">
									<div class="suggestion-usd">
										<div class="sgt-img p-2">
											<div><img
													src="https://gambolthemes.net/workwise-new/images/resources/s1.png"
													alt=""></div>

											<div class="sgt-text">
												<h4>Jessica William</h4>
												<span>Graphic Designer</span>
											</div>
										</div>
										<span><i class="la la-plus"></i></span>
									</div>

									<div class="suggestion-usd">
										<div class="sgt-img p-2">
											<div><img
													src="https://gambolthemes.net/workwise-new/images/resources/s1.png"
													alt=""></div>

											<div class="sgt-text">
												<h4>Jessica William</h4>
												<span>Graphic Designer</span>
											</div>
										</div>
										<span><i class="la la-plus"></i></span>
									</div>

									<div class="suggestion-usd">
										<div class="sgt-img p-2">
											<div><img
													src="https://gambolthemes.net/workwise-new/images/resources/s2.png"
													alt=""></div>

											<div class="sgt-text">
												<h4>Jessica William</h4>
												<span>Graphic Designer</span>
											</div>
										</div>
										<span><i class="la la-plus"></i></span>
									</div>

									<div class="view-more">
										<a href="#" title="">See All Recomendation</a>
									</div>
								</div><!--suggestions-list end-->
							</div>

							<div class="suggestions full-width">
								<div class="sd-title">
									<h4>Add to Your Feeds ( company )</h4>

								</div><!--sd-title end-->
								<div class="suggestions-list">
									<div class="suggestion-usd">
										<div class="sgt-img p-2">
											<div><img
													src="https://gambolthemes.net/workwise-new/images/resources/s1.png"
													alt=""></div>

											<div class="sgt-text">
												<h4>Jessica William</h4>
												<span>Graphic Designer</span>
											</div>
										</div>
										<span><i class="la la-plus"></i></span>
									</div>

									<div class="suggestion-usd">
										<div class="sgt-img p-2">
											<div><img
													src="https://gambolthemes.net/workwise-new/images/resources/s1.png"
													alt=""></div>

											<div class="sgt-text">
												<h4>Jessica William</h4>
												<span>Graphic Designer</span>
											</div>
										</div>
										<span><i class="la la-plus"></i></span>
									</div>

									<div class="suggestion-usd">
										<div class="sgt-img p-2">
											<div><img
													src="https://gambolthemes.net/workwise-new/images/resources/s2.png"
													alt=""></div>

											<div class="sgt-text">
												<h4>Jessica William</h4>
												<span>Graphic Designer</span>
											</div>
										</div>
										<span><i class="la la-plus"></i></span>
									</div>

									<div class="view-more">
										<a href="#" title="">See All Recomendation</a>
									</div>
								</div><!--suggestions-list end-->
							</div>
							<!--suggestions end-->
						</div><!--right-sidebar end-->
					</div>
				</div>
			</div><!-- main-section-data end-->
		</div>
	</div>
</main>

<app-footer></app-footer>