<section class="view-agent-details">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="view-job">
                <div class="logo-img">
                    <img src="/assets/imgs/logo-img.svg" alt="" srcset="">
                </div>
                <div class="job-title">
                    <div>
                        <h3>
                            شركة موارد بشرية
                        </h3>
                        <h5>
                            المملكة العربية السعودية
                        </h5>
                    </div>
                    <div class="actions">
                        <div>
                            <button>
                                <img src="/assets/imgs/save-btn.svg" alt="" srcset="">
                            </button>
                            <button class="mx-2">
                                <img src="/assets/imgs/linked-btn.svg" alt="" srcset="">
                            </button>
                            <button>
                                ملف المنشأة
                            </button>
                        </div>
                        <div>
                            <p>
                                8K+ متابع
                            </p>
                        </div>
                    </div>
                </div>
                <div class="info">
                    <p>
                        هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل الخارجي للنص أو شكل توضع الفقرات في الصفحة التي يقرأها. 
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="title">
        <h3>
            تقدم إلى وظائف شركة موارد بشرية
        </h3>
    </div>
    <div class="job-cards">
        <div class="row">
            <div class="col-lg-4 col-md-6 my-5">
                <div class="job-card h-100">
                    <div class="card-header">
                        <div>
                            <h3>
                                شركة موارد بشرية
                            </h3>
                            <h5>
                                المملكة العربية السعودية
                            </h5>
                        </div>
                        <div class="type">
                            <p>closed</p>
                        </div>
                    </div>
                    <div class="card-details">
                        <ul class="list-unstyled p-0 m-0">
                            <li>
                                <img src="/assets/imgs/icons/1.svg" alt="" srcset="">
                                <strong class="mx-1">المستوى الوظيفي:</strong>
                                <bdi>mid level</bdi>
                            </li>
                            <li>
                                <img src="/assets/imgs/icons/3.svg" alt="" srcset="">
                                <strong class="mx-1">نوع الوظيفة:   </strong>
                                <bdi>full time</bdi>
                            </li>
                            <li>
                                <img src="/assets/imgs/icons/7.svg" alt="" srcset="">
                                <strong class="mx-1"> فئة الرواتب :</strong>
                                <bdi>1000 - 2000$ </bdi>
                            </li>
                            <li>
                                <img src="/assets/imgs/icons/4.svg" alt="" srcset="">
                                <strong class="mx-1">الجنس: </strong>
                                <bdi>males and females</bdi>
                            </li>
                        </ul>
                    </div>
                    <div class="card-actions">
                        <button>
                            <img src="/assets/imgs/save-btn.svg" alt="" srcset="">
                        </button>
                        <button>
                            المزيد من التفاصيل
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 my-5">
                <div class="job-card h-100">
                    <div class="card-header">
                        <div>
                            <h3>
                                شركة موارد بشرية
                            </h3>
                            <h5>
                                المملكة العربية السعودية
                            </h5>
                        </div>
                        <div class="type">
                            <p>closed</p>
                        </div>
                    </div>
                    <div class="card-details">
                        <ul class="list-unstyled p-0 m-0">
                            <li>
                                <img src="/assets/imgs/icons/1.svg" alt="" srcset="">
                                <strong class="mx-1">المستوى الوظيفي:</strong>
                                <bdi>mid level</bdi>
                            </li>
                            <li>
                                <img src="/assets/imgs/icons/3.svg" alt="" srcset="">
                                <strong class="mx-1">نوع الوظيفة:   </strong>
                                <bdi>full time</bdi>
                            </li>
                            <li>
                                <img src="/assets/imgs/icons/7.svg" alt="" srcset="">
                                <strong class="mx-1"> فئة الرواتب :</strong>
                                <bdi>1000 - 2000$ </bdi>
                            </li>
                            <li>
                                <img src="/assets/imgs/icons/4.svg" alt="" srcset="">
                                <strong class="mx-1">الجنس: </strong>
                                <bdi>males and females</bdi>
                            </li>
                        </ul>
                    </div>
                    <div class="card-actions">
                        <button>
                            <img src="/assets/imgs/save-btn.svg" alt="" srcset="">
                        </button>
                        <button>
                            المزيد من التفاصيل
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 my-5">
                <div class="job-card h-100">
                    <div class="card-header">
                        <div>
                            <h3>
                                شركة موارد بشرية
                            </h3>
                            <h5>
                                المملكة العربية السعودية
                            </h5>
                        </div>
                        <div class="type">
                            <p>closed</p>
                        </div>
                    </div>
                    <div class="card-details">
                        <ul class="list-unstyled p-0 m-0">
                            <li>
                                <img src="/assets/imgs/icons/1.svg" alt="" srcset="">
                                <strong class="mx-1">المستوى الوظيفي:</strong>
                                <bdi>mid level</bdi>
                            </li>
                            <li>
                                <img src="/assets/imgs/icons/3.svg" alt="" srcset="">
                                <strong class="mx-1">نوع الوظيفة:   </strong>
                                <bdi>full time</bdi>
                            </li>
                            <li>
                                <img src="/assets/imgs/icons/7.svg" alt="" srcset="">
                                <strong class="mx-1"> فئة الرواتب :</strong>
                                <bdi>1000 - 2000$ </bdi>
                            </li>
                            <li>
                                <img src="/assets/imgs/icons/4.svg" alt="" srcset="">
                                <strong class="mx-1">الجنس: </strong>
                                <bdi>males and females</bdi>
                            </li>
                        </ul>
                    </div>
                    <div class="card-actions">
                        <app-follow-agent></app-follow-agent>
                        <!-- <button>
                            <img src="/assets/imgs/save-btn.svg" alt="" srcset="">
                        </button> -->
                        <button>
                            المزيد من التفاصيل
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 my-5">
                <div class="job-card h-100">
                    <div class="card-header">
                        <div>
                            <h3>
                                شركة موارد بشرية
                            </h3>
                            <h5>
                                المملكة العربية السعودية
                            </h5>
                        </div>
                        <div class="type">
                            <p>closed</p>
                        </div>
                    </div>
                    <div class="card-details">
                        <ul class="list-unstyled p-0 m-0">
                            <li>
                                <img src="/assets/imgs/icons/1.svg" alt="" srcset="">
                                <strong class="mx-1">المستوى الوظيفي:</strong>
                                <bdi>mid level</bdi>
                            </li>
                            <li>
                                <img src="/assets/imgs/icons/3.svg" alt="" srcset="">
                                <strong class="mx-1">نوع الوظيفة:   </strong>
                                <bdi>full time</bdi>
                            </li>
                            <li>
                                <img src="/assets/imgs/icons/7.svg" alt="" srcset="">
                                <strong class="mx-1"> فئة الرواتب :</strong>
                                <bdi>1000 - 2000$ </bdi>
                            </li>
                            <li>
                                <img src="/assets/imgs/icons/4.svg" alt="" srcset="">
                                <strong class="mx-1">الجنس: </strong>
                                <bdi>males and females</bdi>
                            </li>
                        </ul>
                    </div>
                    <div class="card-actions">
                        <button>
                            <img src="/assets/imgs/save-btn.svg" alt="" srcset="">
                        </button>
                        <button>
                            المزيد من التفاصيل
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 my-5">
                <div class="job-card h-100">
                    <div class="card-header">
                        <div>
                            <h3>
                                شركة موارد بشرية
                            </h3>
                            <h5>
                                المملكة العربية السعودية
                            </h5>
                        </div>
                        <div class="type">
                            <p>closed</p>
                        </div>
                    </div>
                    <div class="card-details">
                        <ul class="list-unstyled p-0 m-0">
                            <li>
                                <img src="/assets/imgs/icons/1.svg" alt="" srcset="">
                                <strong class="mx-1">المستوى الوظيفي:</strong>
                                <bdi>mid level</bdi>
                            </li>
                            <li>
                                <img src="/assets/imgs/icons/3.svg" alt="" srcset="">
                                <strong class="mx-1">نوع الوظيفة:   </strong>
                                <bdi>full time</bdi>
                            </li>
                            <li>
                                <img src="/assets/imgs/icons/7.svg" alt="" srcset="">
                                <strong class="mx-1"> فئة الرواتب :</strong>
                                <bdi>1000 - 2000$ </bdi>
                            </li>
                            <li>
                                <img src="/assets/imgs/icons/4.svg" alt="" srcset="">
                                <strong class="mx-1">الجنس: </strong>
                                <bdi>males and females</bdi>
                            </li>
                        </ul>
                    </div>
                    <div class="card-actions">
                        <button>
                            <img src="/assets/imgs/save-btn.svg" alt="" srcset="">
                        </button>
                        <button>
                            المزيد من التفاصيل
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 my-5">
                <div class="job-card h-100">
                    <div class="card-header">
                        <div>
                            <h3>
                                شركة موارد بشرية
                            </h3>
                            <h5>
                                المملكة العربية السعودية
                            </h5>
                        </div>
                        <div class="type">
                            <p>closed</p>
                        </div>
                    </div>
                    <div class="card-details">
                        <ul class="list-unstyled p-0 m-0">
                            <li>
                                <img src="/assets/imgs/icons/1.svg" alt="" srcset="">
                                <strong class="mx-1">المستوى الوظيفي:</strong>
                                <bdi>mid level</bdi>
                            </li>
                            <li>
                                <img src="/assets/imgs/icons/3.svg" alt="" srcset="">
                                <strong class="mx-1">نوع الوظيفة:   </strong>
                                <bdi>full time</bdi>
                            </li>
                            <li>
                                <img src="/assets/imgs/icons/7.svg" alt="" srcset="">
                                <strong class="mx-1"> فئة الرواتب :</strong>
                                <bdi>1000 - 2000$ </bdi>
                            </li>
                            <li>
                                <img src="/assets/imgs/icons/4.svg" alt="" srcset="">
                                <strong class="mx-1">الجنس: </strong>
                                <bdi>males and females</bdi>
                            </li>
                        </ul>
                    </div>
                    <div class="card-actions">
                        <button>
                            <img src="/assets/imgs/save-btn.svg" alt="" srcset="">
                        </button>
                        <button>
                            المزيد من التفاصيل
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 my-5">
                <div class="job-card h-100">
                    <div class="card-header">
                        <div>
                            <h3>
                                شركة موارد بشرية
                            </h3>
                            <h5>
                                المملكة العربية السعودية
                            </h5>
                        </div>
                        <div class="type">
                            <p>closed</p>
                        </div>
                    </div>
                    <div class="card-details">
                        <ul class="list-unstyled p-0 m-0">
                            <li>
                                <img src="/assets/imgs/icons/1.svg" alt="" srcset="">
                                <strong class="mx-1">المستوى الوظيفي:</strong>
                                <bdi>mid level</bdi>
                            </li>
                            <li>
                                <img src="/assets/imgs/icons/3.svg" alt="" srcset="">
                                <strong class="mx-1">نوع الوظيفة:   </strong>
                                <bdi>full time</bdi>
                            </li>
                            <li>
                                <img src="/assets/imgs/icons/7.svg" alt="" srcset="">
                                <strong class="mx-1"> فئة الرواتب :</strong>
                                <bdi>1000 - 2000$ </bdi>
                            </li>
                            <li>
                                <img src="/assets/imgs/icons/4.svg" alt="" srcset="">
                                <strong class="mx-1">الجنس: </strong>
                                <bdi>males and females</bdi>
                            </li>
                        </ul>
                    </div>
                    <div class="card-actions">
                        <button>
                            <img src="/assets/imgs/save-btn.svg" alt="" srcset="">
                        </button>
                        <button>
                            المزيد من التفاصيل
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 my-5">
                <div class="job-card h-100">
                    <div class="card-header">
                        <div>
                            <h3>
                                شركة موارد بشرية
                            </h3>
                            <h5>
                                المملكة العربية السعودية
                            </h5>
                        </div>
                        <div class="type">
                            <p>closed</p>
                        </div>
                    </div>
                    <div class="card-details">
                        <ul class="list-unstyled p-0 m-0">
                            <li>
                                <img src="/assets/imgs/icons/1.svg" alt="" srcset="">
                                <strong class="mx-1">المستوى الوظيفي:</strong>
                                <bdi>mid level</bdi>
                            </li>
                            <li>
                                <img src="/assets/imgs/icons/3.svg" alt="" srcset="">
                                <strong class="mx-1">نوع الوظيفة:   </strong>
                                <bdi>full time</bdi>
                            </li>
                            <li>
                                <img src="/assets/imgs/icons/7.svg" alt="" srcset="">
                                <strong class="mx-1"> فئة الرواتب :</strong>
                                <bdi>1000 - 2000$ </bdi>
                            </li>
                            <li>
                                <img src="/assets/imgs/icons/4.svg" alt="" srcset="">
                                <strong class="mx-1">الجنس: </strong>
                                <bdi>males and females</bdi>
                            </li>
                        </ul>
                    </div>
                    <div class="card-actions">
                        <button>
                            <img src="/assets/imgs/save-btn.svg" alt="" srcset="">
                        </button>
                        <button>
                            المزيد من التفاصيل
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>