<!-- <section class="contact-us">
  <div class="page-header">
    <h2>
      {{ "PrivacyPolicy.PrivacyPolicy" | translate }}
    </h2>
  </div>
  <div class="page-content">
    <div class="row">
      <div class="col-lg-6">
        <div class="form-info h-100">
          <div class="title">
            <h3>
              {{ "PrivacyPolicy.DownloadPrivacyPolicyFile" | translate }}
            </h3>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="conact-form">
          <div class="mb-5">
            <div class="action">
              <button (click)="downloadPrivacy()">
                {{ "PrivacyPolicy.Download" | translate }}
              </button>
            </div>
          </div>
        </div>
        <p>
          التاريخ: 10/5/2023 شروط استخدام موقع cveeez.com . www هذه اتفاقية
          ملزمة نظاما بينك، سواء كنت شخص أو شخصية اعتبارية، وبين موقع سيفيز وذلك
          فيما يتعلق بدخولك إلى واستخدامك الموقع المشار إليه:
          https://www.cveez.com وأي شكل آخر من الوسائط الإعلامية، أو أي موقع
          الكتروني أو تطبيقات تعمل على أجهزة الجوال، لها علاقة أو مرتبطة بالموقع
          المشار إليه (يشار إلى هذه الوسائط بـ “الموقع"). كل عبارة تدل في معناها
          على صيغة المخاطب مثل (أنت) يقصد بها مستخدموا الموقع. وكل عبارة تدل في
          معناها على صيغة المتحدث يقصد بها الموقع. يعتبر دخولك على الموقع، إقرار
          منك بأنك قد قرأت وأدركت ووافقت على الالتزام بكافة شروط وأحكام استخدام
          الموقع. إن الأحكام والشروط الإضافية أو الوثائق التي يتم نشرها على
          الموقع من وقت لآخر بموجب هذه الوثيقة مضمنة هنا بطريقة صريحة. نحتفظ
          بالحق بحسب تقديرنا الخاص، لإجراء تعديلات أو تغييرات على بنود وشروط
          استخدام الموقع في أي وقت ولأي سبب كان. نقوم بإشعارك في حالة القيام بأي
          تغييرات عن طريق تحديث التاريخ "آخر تحديث" لشروط الاستخدام هذه، ويعد
          تحديث التاريخ كافيا لتعرفك على التعديلات، ونحن غير ملزمون بإشعارك بشكل
          خاص عن هذه التحديثات والتغييرات، حيث يقع على عاتقك مسؤولية المراجعة
          الدورية لشروط الاستخدام هذه بغرض بقائك على اطلاع مستمر على التحديثات
          التي يتم إجراؤها، بذلك تقر أنك قد أدركت وقمت بقبول التعديلات التي تمت
          على أي شروط خاصة معدلة باستخدام الموقع، وذلك من خلال استمرارك فـي
          استخدام الموقـع بعد تاريخ نشر شروط الاستخدام التي تم تعديلها. إن
          استخدام الموقع قاصر على المستخدمين الذين لا تقل أعمارهم عن ثمانيـة عشر
          عامًا، ويتمتعون بالأهلية القانونية الكاملة لإبرام العقود، ويستثنى من
          ذلك بند "الأعمال التطوعية". لا يتـم السماح للأشخاص الذين تقل أعمارهم
          عن ثمانيـة عشر عامًا باستخدام الموقع أو التسجيل فيه، من ذلك بند
          "الأعمال التطوعية". حقوق الملكية الفكرية: ما لم يُنص على خلاف ذلك، فإن
          الموقع يعتبر خاضع لملكيتنا الفكرية بالإضافة إلى ملكيتنا لجميع الأكواد
          البرمجية المصدرية، وكذلك قواعد البيانات والخصائص الوظيفية للموقع،
          والبرمجيات وتصميم الموقع وملفات الصوت وملفات الفيديو والنصوص، وكذلك
          الصور والرسومات الموجودة على الموقع (يتم وصفها بلفظ جماعي بـ"المحتوى")
          وكذلك العلامات التجارية، والخدمات المتعلقة بالبرنامج، وكذلك الشعارات
          المدرجة فيها تعتبر جميعها خاضعة لملكيتنا، أو خاضعة للتحكم بواسطتنا،
          وأنها محمية بقوانين وأنظمة حقوق النشر والعلامات التجارية وحقوق الملكية
          الفكرية المتنوعة الأخرى والاتفاقيات الدولية، باستثناء ما هو منصوص عليه
          صراحة في شروط الاستخدام المذكورة هنا. تعهدات المستخدم: من خلال
          استخدامك للموقع، فإنك تقر وتتعهد بما يلي: أن تكون كافة بيانات التسجيل
          التي تقوم بإرسالها دقيقة وصحيحة ومحدثة وكاملة. أن تحافظ على دقة هذه
          البيانات وتحديث بيانات التسجيل على الفور عند الاقتضاء. أنك تتمتع
          بالأهلية النظامية وتوافق على الالتزام بشروط الاستخدام المذكور هنا. أنك
          لست قاصرا من منظور الاختصاص القضائي في المكان الذي تقيم به. أنك لن تصل
          إلى الموقع عبر وسائل أوتوماتيكية غير بشرية. أنك لم/لن تستخدم الموقع
          لأي غرض غير قانوني أو لأي هدف غير مصرح به. أن استخدامك للموقع لا ينتهك
          أو يخالف أي نظام أو قانون أو لوائح سارية. في حالة قيامك بالإبلاغ عن أي
          بيانات غير دقيقة أو غير صحيحة أو غير محدثة في وقت إرسالها أو أن تلك
          البيانات تعتبر غير كاملة، فإننا لدينا الحق في تعليق أو وقف حسابك ورفض
          وصولك للموقع ومنع استخدامك الموقع في الوقت الراهن أو في أي وقت مستقبلي
          وعليه لا يستحق المستخدم بالمطالبة بأي تعويض معنوي أو مادي من إدارة
          الموقع أو مالكه. تسجيل المستخدم: في حالة طُلب التسجيل في الموقع، فإنك
          تلتزم بالمحافظة على سرية كلمة المرور الخاصة بك، وبذلك تكون مسؤولا عن
          استخدام حسابك وكلمة المرور الخاصة بك. نحن نحتفظ بالحق في إزالة، أو
          استعادة، أو تغيير اسم المستخدم الذي تحدده إذا قررنا ذلك حسب تقديرنا
          الخاص، في حالة إذا وجدنا أن اسم المستخدم هذا غير مناسب أو بذيء أو غير
          مرغوب به. وعليه لا يستحق المستخدم بالمطالبة بأي تعويض معنوي أو مادي من
          إدارة الموقع أو مالكه. أنواع النشاطات المحظورة: بصفتك مستخدمًا للموقع،
          فإنك توافق على عدم: استرجاع البيانات أو أي محتوى آخر من الموقع
          لاستخدامها سواء كان ذلك بشكل مباشر أو غير مباشر، لإنشاء أي مجموعة أو
          القيام بعملية تحويل برمجية، أو إصدار قاعدة بيانات أو إنشاء دليل بدون
          إذن كتابي منا. السماح بأي استخدام غير مصرح به للموقع، بما في ذلك تجميع
          أسماء المستخدمين و / أو تجميع عناوين البريد الالكتروني للمستخدمين عن
          طريق الوسائل الالكترونية أو غيرها لغرض إرسال بريد الكتروني غير مرغوب
          به، أو بغرض إنشاء حسابات مستخدمين وذلك عبر استخدام أي وسائل آلية، أو
          بناء على أي ادعاءات غير صادقة. استخدام الموقع كوسيلة إعلانية أو لعرض
          وبيع السلع والخدمات. التحايل أو التعطيل أو التداخل مع خصائص الأمان ذات
          الصلة بالموقع، بما في ذلك تلك الخصائص التي تمنع أو تقيد استخدام أو نسخ
          أي محتوى أو تفرض قيودًا على استخدام الموقع و / أو المحتوى المتاح عليه.
          الخداع، أو الاحتيال أو التضليل لنا أو لأي أحد من المستخدمين، وخصوصاً
          في حالة القيام بأي محاولة للوصول إلى أي معلومات حساب خصوصية مثل كلمات
          مرور المستخدمين. الاستخدام غير السوي لخدمات الدعم لدينا، أو تقديم
          تقارير غير دقيقة عن حالات سوء المعاملة أو سوء السلوك عبر الموقع.
          المشاركة في أي استخدام آلي للنظام، مثل استخدام أكواد برمجية لإرسال
          التعليقات أو الرسائل، أو استخدام أي برامج مخصصـة للحصول على البيانات،
          أو استخدام الروبوتات (البرمجيات الآلية)، أو استخدام أي أدوات برمجية
          مماثلة لجمع البيانات والاستحواذ عليها. أي محاولة لانتحال شخصية مستخدم
          أو شخص آخر أو القيام بمحاولة استخدام اسم مستخدم آخر. استخدام أي
          معلومات تم الحصول عليها من الموقع من أجل استخدامها في إنتهاك الخصوصية
          أو الإساءة أو إيذاء أي شخص آخر. انتهاكك لخصوصية أو مضايقـة أو ترهيب أو
          تهديد أي من موظفينا أو وكلائنا العاملين الذين يعملون على تقديم أي خدمة
          من خدمات الموقع لك. حذف حقوق الطبع والنشر أو أي حقوق ملكية أخرى من أي
          محتوى موجود على الموقع. نسخ أو تعديل برنامج الموقع، بما في ذلك، على
          سبيل المثال لا الحصر، ملفات "الفلاش"، أو الأكواد البرمجية المرمزة
          بلغـة (php) ("بي أتش بي")، أو الأكواد البرمجية المرمزة بلغة html (لغة
          ترميز النصوص)، أو بلغـة "جافا سكريبت"، أو أي كود برمجي آخر. رفع أو
          تحميل (أو أي محاولة لتحميل أو رفع على السيرفر الخاص بالموقع) الفيروسات
          أو برمجيات حصان طروادة المستخدم في التجسس أو أي مواد أخرى، بما في ذلك
          الاستخدام المفرط للرسائل غير المرغوب فيها (الإرسال المستمر للنص بصورة
          متكررة)، والتي تتعارض مع حق أي طرف (مستخدم) في الاستخدام للموقع بدون
          أي اعتراض أو تداخل، أو تعديل أو إعاقة أو عرقلة أو تغيير أو تعطيل
          استخدام الموقع أو ميزاته أو خصائصه أو تشغيله أو صيانته. التقليل من
          قدرنا، أو تشويه سمعتنا، أو إيقاع الضرر بنا، بحسب رأينا، سواء تم إيقاع
          الضرر علينا أو على الموقع. استخدام الموقع بطريقة تتعارض مع قوانين أو
          أنظمة سارية. الخدمات المتاحة المدفوعة من موقع سيفيز: هناك بعض البرامج
          والخدمات المدفوعة التي يقدمها موقع سيفيز إلى المستخدمين. ويوافق
          المستخدمون الذين يختارون استخدام الخدمات المدفوعة على البنود والشروط
          الإضافية التالية: يحتفظ الموقع بالحق في تعديل أو تغيير أو إضافة
          الخدمات والأسعار لهذه الخدمات في أي وقت. في حالة إجراء أي تغيير على
          الأسعار، سوف يتم إرسال إشعار لك عن هذا التغيير الذي حدث، ولن يسري
          التغيير إلا على الدورة المحاسبية التالية للفواتير. في حالة استحقاق أي
          ضرائب يتم فرضها على الخدمات حسب أنظمة وقوانين الدول فإنه يجب أن
          تتحملها أنت. إذا قمت بالتسجيل من خلال استخدام موقع أو تطبيق سيفيز
          وبمجرد أن يتم السداد، فإن الموقع لا يتيح استرجاع المبالغ المدفوعة في
          حالة الإلغاء. يحق للموقع أن يلغي الطلبات لأي سبب من الأسباب. قد تتضمن
          بعض الحالات الشائعـة التي يتم فيها إلغاء الطلبات أخطاء في التسعير أو
          وقوع مشاكل في إصدار الفواتير أو أن السبب يرجع لوقوع مشاكل في نظام
          الدفع بواسطة بطاقات الائتمان التي تم رفضها من قِبل المؤسسة المالية
          التي أصدرت البطاقة البنكية. توافق على تعويض الموقع عن النفقات التي
          تكبدها بصورة معقولة، بما في ذلك أتعاب المحاماة، المتكبدة في تحصيل
          المدفوعات وإنفاذ حقوقـه ذات الصلة بموجب هذه الاتفاقية. فيما يتعلق بأي
          خدمة مدفوعة أو مجانية سواء للباحث عن فرصة عمل أو الباحث عن موظف، لا
          يتحمل الموقع أية مسؤولية فيما يتعلق بدقة بيانات مقدم طلب التوظيف، أو
          مقابلة مقدم طلب التوظيف أو أداء العمل، أو أهليته للعمل قبل أو بعد
          التوظيف، ولن تشارك في أي مفاوضات أو طرح أي مناقشة فيما يتعلق بخدمات
          التوظيف، أو الترقيـة، أو الإجراءات التأديبية، أو الفصـل من العمل، أو
          نقل مقدم الطلب الذي تم توظيفه في وقت لاحق من قبل العميل. وكافة خدمات
          التقييم وخدمات مراجعة السيرة الذاتية التي يتم تقديمها كخدمة اختيارية.
          إن الموقع لا يقدم وعدًا أو ضمانًا بالتوظيف سواء من خلال الخدمات
          المجانية أو من خلال الخدمات المدفوعة. الشروط المحددة للإعلان عن وظيفة
          في قسم الإعلانات مدفوعة الأجر أو المجانية: تنطبق الشروط التاليـة على
          الخدمة حيـث يستخدم المستخدم الموقع لنشر الوظائف عبر الإنترنت: عدم
          استرجاع المبلغ المالي المدفوع: يمكنك ترقية أو تخفيض فئة الاشتراك أو
          إلغاء اشتراكك في خدمة النشر للوظائف في أي وقت. إذا قمت بالتسجيل من
          خلال استخدام الفترة التجريبية المجانية المتاحة من ضمن خدمات نشر
          الوظائف، فيمكنك إلغاء الخدمة دون تكبد أي رسوم في حالة الإلغاء خلال
          الفترة التجريبية المجانية. بمجرد أن يتم السداد، فإن الموقع لا يتيح
          استرجاع المبالغ المدفوعة في حالة الإلغاء. إدارة الحساب / تعليق الحساب:
          يجوز لموقع أو ممثليه أو فروعه أو شركائه أن يقرروا تعليق أو إنهاء حسابك
          في أي وقت ولأي سبب. تعود الأسباب الشائعة لذلك إلى الاستخدام غير السليم
          للخدمة، وعدم دقة المعلومات في طلبات راغبي العمل، والنشاط الاحتيالي،
          وإساءة استخدام عروض التجربة المجانية، والنشاط الذي ينتهك هذه الشروط أو
          سياسة الخصوصية الخاصة بنا. في حالة تعليق حسابك أو إنهائه، لن يكون هناك
          أي استرداد للمبالغ المالية المدفوعة؛ ومع ذلك سيتم إلغاء حسابك بدون
          تكبد أي رسوم إضافية. أحكام وبنود الفواتير: يتم تجديد بعض الخدمات
          تلقائيًا شهريًا. فيما يتعلق بهذه الخدمات، فإنه يتوجب السداد في اليوم
          الأول من فترة التجديد، في حالة توقف خدمة الدفع مثل توقف خدمة إصدار
          الفواتير، فإن هذا التوقف لا يعفيك من الالتزام بدفع الرسم الشهري، حتى
          في حالة عدم النشاط أو حتى لو كان ذلك بسبب عدم استخدام خدمات الموقع.
          تقديم الفرص الوظيفية بصورة متكافئة: إن الموقع يقدم فرص التوظيف بطريقة
          متكافئة، حيث يبذل الموظفون في الموقع قصارى جهدهم لمراقبة سلوكيات
          المستخدمين وإجراءات التوظيف فيما يتعلق باستخدامهم لموقعنا، على الرغم
          من أننا لا نتحمل المسؤولية عن تصرفات المستخدم وسلوكياته. الأعمال
          التطوعية: كاستثناء من الحد الأدنى للسن المحدد لمستخدمي الموقع وبرنامج
          سيفيز، يمكن للمتطوعين في المؤسسات غير الربحية والفعاليات الخيرية أن
          تكون أعمارهم أقل من 18 سنة، وذلك بعد أخذ الإذن من أولياء أمورهم
          وموافقة إدارة الموقع. المستخدمون الدوليون: إذا كنت تستخدم الخدمات على
          الموقع من مكان خارج دولة الامارات العربية، فإنك تعتبر في هذه الحالة
          مسؤول عن الالتزام بكافة القوانين والأنظمة المحلية. المساهمة في النشر:
          نحن لسنا مسؤولون عن أي بيانات أو إقرارات في مساهماتك المقدمة من قبلك
          في أي منطقة على الموقع. أنت وحدك المسؤول عن مساهماتك في الموقع وتوافق
          صراحة على تبرئتنا من أي مسؤولية، والامتناع عن أي إجراء قانوني ضدنا
          بشأن مساهماتك. لدينا الحق، بحسب تقديرنا المجرد في: تعديل أو مراجعة أو
          تغيير أي مساهمات؛ إعادة تصنيـف أي مساهمات لوضعها فـي أماكن أكثر ملاءمة
          على موقعنا؛ حذف أي مساهمات في أي وقت ولأي سبب، دون سابق إنذار. ليس
          لدينا أي التزام بمراقبة مساهماتك، أو مساهمات الآخرين في الموقع وفي حال
          اطلاعك على أي مخالفات نظامية مترتبة على مساهمات الآخرين يقع عليك لا
          على الموقع إبلاغ إدارة الموقع عنها. المواد التي تم تسليمها: أنت تقر
          وتوافق على أن: أية أسئلة يتم طرحها أو تعليقات أو مقترحات أو أفكار أو
          مناقشات أو معلومات أخرى تتعلق بالموقع ("المواد التي تم نشرها وتسليمها
          إلى الموقع") التي قدمتها لنا غير سرية وأنها سوف تكون من ضمن ملكيتنا
          الحصرية. إننا نمتلك الحقوق الحصرية، بما في ذلك جميع حقوق الملكية
          الفكرية، كما يحق لنا استخدام هذه التقارير ونشرها بشكل محدود بما يخضع
          لأي هدف قانوني، سواء كان ذلك الغرض تجاري أو غير ذلك، دون أي تعهد من
          جانبنا لك وبدون دفع أي تعويض لك. إنك تتنازل عن جميع الحقـوق المعنوية
          لأي من هذه المواد التي قمت بتسليمها إلى الموقع، وتضمن أن تكون ملكية أي
          من هذه المواد التي قمت بتسليمها لك، أو أن لديك الحق في إرسال وتسليم
          مثل هذه المواد. المعلنون: نسمح للمعلنين بعرض إعلاناتهم وأي معلومات
          أخرى في أجزاء محددة من الموقع، مثل وضع إعلانات على الشريط الجانبي أو
          عبر الأجزاء المخصصة لإعلانات البانر. في حالة إذا قمت بالإعلان معنا،
          فإنك تتحمل المسؤولية الكاملة عن أي إعلانات تضعها على الموقع وأي خدمات
          مقدمة على الموقع أو المنتجات التي يتم بيعها من خلال تلك الإعلانات.
          وبالإضافة إلى ذلك، باعتبارك معلنًا، فإنك تضمن امتلاكك لجميع الحقوق
          والصلاحيات لنشر الإعلانات على الموقع، بما في ذلك على سبيل المثال لا
          الحصر، حقوق الملكية الفكرية وحقوق الدعاية وحقوق التعاقد. إننا نتيح لك
          حجز المساحة الإعلانية لوضع مثل هذه الإعلانات، وليس لدينا أي علاقة أخرى
          مع المعلنين. إدارة الموقع: إننا نحتفظ بحقنا، ولكن لا يعتبر ذلك بمثابة
          التزام منا، بالأمور التالية: مراقبة الموقع لمنع وجود مخالفات لشروط
          الاستخدام المحددة هنا؛ اتخاذ ما يلزم من الإجراءات القانونية المناسبة
          ضد أي شخص يقوم بانتهاك البنود القانونية أو أي من شروط الاستخدام
          المحددة، بما في ذلك على سبيل المثال لا الحصر الإبلاغ عن هذا المستخدم
          إلى السلطات المختصة؛ وفقا لتقديرنا الخاص تقييد الوصول أو المنع أو الحد
          من إتاحة فرصة المساهمة أو التعطيل (إلى أقصى حد ممكن من الناحية
          التقنية) من مساهماتك؛ وفقًا لتقديرنا الخاص، دون قيد، أو إشعار أو
          مسؤولية لإزالتها من الموقع أو تعطيل جميع الملفات والمحتويات التي تكون
          حجمها كبير جدا أو بأي شكل من الأشكال تشكل عبئًا على أنظمتنا. سياسة
          الخصوصية: تلتزم بمراجعة سياسة الخصوصية الخاصة بنا على الموقع، وتلتزم
          بالعمل بموجبها وبموجب شروط الاستخدام هذه. في حالة إذا قمت بالوصول إلى
          الموقع من أي منطقة أخرى في العالم فإنه يجب الالتزام بالقوانين والأنظمة
          أو المتطلبات الأخرى التي تحكم الوصول إلى البيانات الشخصية، قد تختلف
          القوانين الخاصة بالاستخدام أو الإفصاح عن تلك البيانات في دولتك عن
          الأنظمة السارية في دوله الامارات العربية. المدة الزمنية والإنهاء: تظل
          شروط الاستخدام هذه سارية المفعول بالكامل أثناء استخدامك للموقع دون
          الحد من سريان أي بند آخر من شروط الاستخدام هذه، نحتفظ بالحق وفقًا
          لتقديرنا الخاص ودون أدنى إخطار أو مسؤولية، لرفض الوصول إلى الموقع
          واستخدامه (بما في ذلك حظر بعض عناوين بروتوكولات الإنترنت المعروفة باسم
          - (IP)- ، لحجب أي شخص لأي سبب، بما في ذلك على سبيل المثال لا الحصر في
          حالة انتهاك أي تعهد أو ضمان أو إقرار منصوص عليه في شروط الاستخدام هذه
          أو في أي نظام أو لائحة سارية. يجوز لنا وقف استخدامك أو مشاركتك في
          الموقع أو حذف حسابك وأي محتوى أو معلومات نشرتها في أي وقت، دون سابق
          إنذار، وفقًا لتقديرنا الخاص. في حالة قيامنا بإنهاء حسابك أو إيقافه لأي
          سبب من الأسباب، يحظر عليك التسجيل وإنشاء حساب جديد باسمك أو باسم مزيف
          أو مستعار، أو اسم أي طرف ثالث، بالإضافة إلى إنهاء حسابك أو إيقافه
          فإننا نملك الحق في اتباع الإجراءات النظامية المناسبة. انقطاع الخدمة:
          لا يمكننا تقديم تعهد بضمان أن الموقع سوف يكون متاحًا خلال جميع
          الأوقات. قد نواجه مشكلة في الأجهزة أو البرمجيات أو أي مشاكل أخرى أو
          نحتاج إلى إجراء صيانة متعلقة بالموقع، مما يؤدي إلى انقطاع أو تأخير أو
          وجود أخطاء في الوصول إلى الموقع. إننا نحتفظ بالحق في إجراء أي تغييـر
          أو مراجعة أو تحديث الموقع أو تعليقـه أو إيقافه أو تعديل الموقع بأي شكل
          من الأشكال في أي وقت أو لأي سبب وذلك دون الحاجة إلى إبلاغك. توافق على
          أننا لا تقع على عاتقنا أي مسؤولية مهما كانت في حال وقوع أي خسارة أو
          ضرر أو إزعاج ناتج عن عدم قدرتك على الوصول إلى الموقع أو استخدامه أثناء
          توقف الموقع أو تعطل خدماته. لن يتم تقديم أي تفسير لأي شرط من شروط
          الاستخدام هذه ولا يلزمنا الحفاظ على الموقع ودعمه أو تقديم أي تصحيحات
          أو تحديثات أو إصدارات تتعلق بهذا الشأن. النظام المطبق: تخضع شروط
          الاستخدام هذه واستخدامك للموقع للأنظمة واللوائح السارية في دولة
          الامارات العربية. آلية حل النزاعات: الحل عبر إجراء مفاوضات غير رسمية.
          من أجل تسريع إصدار القرار والتحكم في التكلفة لأي نزاع أو نقاش أو ادعاء
          متعلق بشروط الاستخدام المنصوص عليها هنا ("النزاعات") سواء منكم أو منا
          يتفق الطرفان في البداية على إجراء محاولة للتفاوض لحل أي نزاع بشكل غير
          رسمي لمدة ثلاثين (30) يومًا على الأقل قبل رفع الدعوى. تبدأ مثل هذه
          المفاوضات غير الرسمية بموجب إصدار إشعار خطي من أحد الطرفين وإرساله
          للطرف الآخر. في حال إذا فشلـت المفاوضات، يلتزم الطرفان بإحالة النزاع
          إلى المحكمة المختصة في دولة الامارات العربية. القيام بالتصحيحات: قد
          تكون هناك معلومات منشورة على الموقع تحتوي على أخطاء مطبعية أو نتيجة
          لعدم الدقة أو وقوع سهو، بما في ذلك الوصف، والتسعير، ومختلف المعلومات
          الأخرى. نحتفظ بالحق في تصحيح أي أخطاء ناتجـة عن عدم الدقـة أو وقوع سهو
          أو إجراء تعديل أو تحديث في المعلومات المتاحة على الموقع في أي وقت دون
          الحاجة إلى إصدار أي إشعار مسبق بذلك. إخلاء المسؤولية: إنك توافق على أن
          استخدامك للموقع والخدمات التي نقدمها، هي مسؤوليتك وحدك. حيـث أننا نخلي
          مسؤوليتنا عن تقديم كافـة الضمانات، سواء كانت بصورة صريحة أو ضمنيـة،
          فيما يتعلق بالموقع وطريقـة استخدامك له، بما في ذلك، على سبيل المثال لا
          الحصر، تقديم تعهد ضمان التطابق بغرض تحقيق هدف معين، وعدم الانتهاك.
          التعويض: أنت توافق على توفير الحماية لنا، وتعويضنا، وإخلاء مسؤوليتنا،
          بما في ذلك شركاتنا الفرعية، والشركات التابعة لنا، وكل موظفينا ووكلائنا
          وشركائنا وموظفينا، عن أي خسارة أو ضرر أو التزام أو مطالبة أو دعوى، بما
          في ذلك أتعاب المحامين "الرسوم والمصاريف". التي قام برفعها/تسبب بها
          الغير إذا كانت ناشئة عن: مساهماتك في الموقع؛ استخدامك للموقع؛ مخالفتك
          لشروط الاستخدام هذه؛ في حالة مخالفتك للتعهدات والضمانات التي قمت
          بتقديمها؛ انتهاكك لحقوق الغير، بما في ذلك على سبيل المثال لا الحصر
          حقوق الملكية الفكرية؛ القيام بأي تصرف ضار صريح تجاه أي مستخدم آخر
          للموقع قمت بالاتصال معه عبر الموقع. بغض النظر عما سبق، فإننا نحتفظ
          بحقنا، وعلى نفقتك الخاصة، لتتولى الدفاع الحصري ومتابعة أي مسألة تتطلب
          منك دفع تعويض لنا، وأنك توافق على التعاون معنا على نفقتك الخاصة،
          بدفاعنا عن هذه المطالبات. سنبذل جهودًا معقولة لإخطارك بأي من هذه
          المطالبات أو الإجراءات أو الخطوات التي تخضع من خلالها وبموجبها لدفع
          هذا التعويض عند علمك بذلك الأمر. بيانات المستخدمين: للموقع الاحتفاظ
          ببعض البيانات التي ترسلهـا إلى الموقع والبيانات المتعلقة باستخدامك
          للموقع لغرض إدارة أداء الموقـع. على الرغم من أننا سوف نقوم بإجراء نسخ
          احتياطي بصفة دورية ومنتظمة للبيانات على الموقع، فإنك أنت وحدك المسؤول
          عن كافة البيانات التي ترسلها أو التي تتعلق بأي نشاط قمت به من خلال
          استخدام الموقع. إنك توافـق على أننا لن نتحمـل أية مسؤولية تجاهك عن أي
          فقدان أو تلـف لأي من هذه البيانات، وتتنازل بموجبه عن المطالبة برفع
          الدعوى ضدنا في حالة فقد أو تلف أي من هذه البيانات. الاتصالات
          الإلكترونية والمعاملات والتوقيعات: زيارة الموقع وإرسال رسائل البريد
          الإلكتروني وإكمال النماذج عبر الإنترنت تعتبر بمثابة اتصالات إلكترونية.
          إنك توافق على تلقي المراسلات بصورتها الإلكترونية، وحيث أنك موافق على
          أن جميع الاتفاقيات، والإخطارات، والإفصاحات، وغيرها من الاتصالات التي
          نقدمها إليك إلكترونياً، عبر البريد الإلكتروني وعلى الموقع، وستلبـي أي
          متطلبات قانونية تتطلب بأن يتم هذا التواصل بصورة كتابية. إنك تقر وتوافق
          على استخدام التوقيع الإلكتروني والعقـود والأوامر الأخرى، والتسليم
          الإلكتروني للإشعارات واللوائح وسجلات المعاملات التي بدأتها أو أكملتها
          عبر الموقع. إنك تتنازل عن أي حقوق أو مطالبات بموجب أي قوانين أو لوائح
          أو أنظمة في أي دائرة قضائية تتطلـب توقيعًا أصليًا أو تسليمًا أو
          الاحتفاظ بسجلات غير إلكترونية أو دفعات أو منح ائتمانات من خلال أي
          وسيلة الكترونية أخرى من الوسائل الإلكترونية. متنوعات: تشكل شروط
          الاستخدام هذه وأي سياسات أو قواعد تشغيل يتم نشرها عبر الموقع أو فيما
          يتعلق بالموقع اتفاقية بينك وبيننا. إن فشلنا في ممارسة أو تطبيق أي حق
          أو شرط من شروط الاستخدام هذه لا يعد تنازل عن هذا الحق أو الشرط. إن
          شروط الاستخدام هذه سارية إلى أقصى حد مسموح به بموجب النظام. يجوز لنا
          إحالة أي حق أو جميع حقوقنا والتزاماتنا تجاه الآخرين في أي وقت. لن نكون
          مسؤولين عن أي خسارة أو تلف أو تأخير، أو فشل بسبب أي حادث خارج عن
          إرادتنا. في حالة إذا ثبت أن أي شرط أو بند من بنود الاستخدام هذه غير
          نظامي أو باطل أو غير قابل للتنفيذ، فإن هذا البند أو جزء منه يعتبر قابل
          للفصل بموجب شروط الاستخدام هذه ولا يؤثر على صلاحية وسريان أي من
          الأحكام والبنود الأخرى. لا يوجد مشروع مشترك أو شراكة أو علاقة توظيف أو
          وكالة بينك وبيننا بموجب شروط الاستخدام أو استخدام الموقع. إنك توافق
          على أنه لن يتم تفسير شروط الاستخدام هذه ضدنا، وتتنازل عن جميع الدفاعات
          التـي قد تكون لديك بناءً على النموذج الإلكترونـي لشروط الاستخدام هذه
          وعدم وجود توقيع من جانب الطرفين لتنفيذ هذه الشروط. اللغة: في حال وجود
          أي تباين بين النص العربي والإنجليزي فإنه يغلب النص العربي على النص
          الانجليزي. للتواصل معنا لإرسال شكـوى بخصوص الموقع أو لتلقي مزيد من
          المعلومات حول استخدام الموقع، يرجى الاتصال بنا على البريد الإلكتروني
          info@cveeez.com : التعديلات سوف يقوم الموقع بتحديث شروط الاستخدام
          هذه من حين لآخر.
        </p>
      </div>
    </div>
  </div>
</section>

<ng-template
  #formError
  let-control="control"
  let-message="message"
  let-validation="validation"
>
  <ng-container
    *ngIf="
      control?.hasError(validation) && (control?.dirty || control?.touched)
    "
  >
    <div class="fv-plugins-message-container">
      <div class="fv-help-block">
        <span role="alert">
          {{ message }}
        </span>
      </div>
    </div>
  </ng-container>
</ng-template> -->

<div class="privacy-page">
  <app-header></app-header>
  <section class="privacy-content">
    <div class="page-header">
      <div class="container">
        <div class="nav-sec"></div>
        <h5>تم التحديث: 10 يونيو 2023</h5>
        <h2>نحن نقدر خصوصيتك وثقتك</h2>
        <p>
          {{ "PrivacyPolicy.PrivacyPolicyHeader" | translate }}
        </p>
        <button (click)="downloadPrivacy()">
          <img src="/assets/imgs/icons/downloaded.svg" alt="" srcset="" />
          {{ "PrivacyPolicy.Download" | translate }}
        </button>
      </div>
    </div>
  </section>
  <article>
    <div class="privacy-info">
      <div class="container">
        <div class="title">
          <h3>المقدمة</h3>
        </div>
        <div class="content">
          <p>
            هذه اتفاقية ملزمة نظاما بينك، سواء كنت شخص أو شخصية اعتبارية، وبين
            موقع سيفيز وذلك فيما يتعلق بدخولك إلى واستخدامك الموقع المشار إليه:
            https://www.cveez.com وأي شكل آخر من الوسائط الإعلامية، أو أي موقع
            الكتروني أو تطبيقات تعمل على أجهزة الجوال، لها علاقة أو مرتبطة
            بالموقع المشار إليه (يشار إلى هذه الوسائط بـ “الموقع"). كل عبارة تدل
            في معناها على صيغة المخاطب مثل (أنت) يقصد بها مستخدموا الموقع. وكل
            عبارة تدل في معناها على صيغة المتحدث يقصد بها الموقع. يعتبر دخولك
            على الموقع، إقرار منك بأنك قد قرأت وأدركت ووافقت على الالتزام بكافة
            شروط وأحكام استخدام الموقع.
          </p>
        </div>
      </div>
    </div>
    <div class="privacy-info">
      <div class="container">
        <div class="title">
          <h3>سياسة حماية الخصوصية</h3>
        </div>
        <div class="content">
          <p>
            هذه اتفاقية ملزمة نظاما بينك، سواء كنت شخص أو شخصية اعتبارية، وبين
            موقع سيفيز وذلك فيما يتعلق بدخولك إلى واستخدامك الموقع المشار إليه:
            https://www.cveez.com وأي شكل آخر من الوسائط الإعلامية، أو أي موقع
            الكتروني أو تطبيقات تعمل على أجهزة الجوال، لها علاقة أو مرتبطة
            بالموقع المشار إليه (يشار إلى هذه الوسائط بـ “الموقع"). كل عبارة تدل
            في معناها على صيغة المخاطب مثل (أنت) يقصد بها مستخدموا الموقع. وكل
            عبارة تدل في معناها على صيغة المتحدث يقصد بها الموقع. يعتبر دخولك
            على الموقع، إقرار منك بأنك قد قرأت وأدركت ووافقت على الالتزام بكافة
            شروط وأحكام استخدام الموقع.
          </p>
        </div>
      </div>
    </div>
    <div class="privacy-info">
      <div class="container">
        <div class="title">
          <h3>حقوق الملكية الفكرية</h3>
        </div>
        <div class="content">
          <p>
            هذه اتفاقية ملزمة نظاما بينك، سواء كنت شخص أو شخصية اعتبارية، وبين
            موقع سيفيز وذلك فيما يتعلق بدخولك إلى واستخدامك الموقع المشار إليه:
            https://www.cveez.com وأي شكل آخر من الوسائط الإعلامية، أو أي موقع
            الكتروني أو تطبيقات تعمل على أجهزة الجوال، لها علاقة أو مرتبطة
            بالموقع المشار إليه (يشار إلى هذه الوسائط بـ “الموقع"). كل عبارة تدل
            في معناها على صيغة المخاطب مثل (أنت) يقصد بها مستخدموا الموقع. وكل
            عبارة تدل في معناها على صيغة المتحدث يقصد بها الموقع. يعتبر دخولك
            على الموقع، إقرار منك بأنك قد قرأت وأدركت ووافقت على الالتزام بكافة
            شروط وأحكام استخدام الموقع.
          </p>
        </div>
      </div>
    </div>
    <!-- تعهدات المستخدم -->
    <div class="privacy-info">
      <div class="container">
        <div class="title">
          <h3>تعهدات المستخدم</h3>
          <h5>من خلال استخدامك للموقع، فإنك تقر وتتعهد بما يلي</h5>
        </div>
        <div class="content">
          <ul>
            <li>
              <p>
                أن تكون كافة بيانات التسجيل التي تقوم بإرسالها دقيقة وصحيحة
                ومحدثة وكاملة
              </p>
            </li>
            <li>
              <p>
                أن تحافظ على دقة هذه البيانات وتحديث بيانات التسجيل على الفور
                عند الاقتضاء
              </p>
            </li>
            <li>
              <p>
                أنك تتمتع بالأهلية النظامية وتوافق على الالتزام بشروط الاستخدام
                المذكور هنا
              </p>
            </li>
            <li>
              <p>
                أنك لست قاصرًا من منظور الاختصاص القضائي في المكان الذي تقيم به
              </p>
            </li>
            <li>
              <p>أنك لن تصل إلى الموقع عبر وسائل أوتوماتيكية غير بشرية</p>
            </li>
            <li>
              <p>
                أنك لم/لن تستخدم الموقع لأي غرض غير قانوني أو لأي هدف غير مصرح
                به
              </p>
            </li>
            <li>
              <p>
                أن استخدامك للموقع لا ينتهك أو يخالف أي نظام أو قانون أو لوائح
                سارية
              </p>
            </li>
          </ul>
        </div>
        <div class="content">
          <p>
            في حالة قيامك بالإبلاغ عن أي بيانات غير دقيقة أو غير صحيحة أو غير
            محدثة في وقت إرسالها أو أن تلك البيانات تعتبر غير كاملة، فإننا لدينا
            الحق في تعليق أو وقف حسابك ورفض وصولك للموقع ومنع استخدامك الموقع في
            الوقت الراهن أو في أي وقت مستقبلي وعليه لا يستحق المستخدم بالمطالبة
            بأي تعويض معنوي أو مادي من إدارة الموقع أو مالكه.
          </p>
        </div>
      </div>
    </div>
    <!-- تسجيل المستخدم -->
    <div class="privacy-info">
      <div class="container">
        <div class="title">
          <h3>تسجيل المستخدم</h3>
        </div>
        <div class="content">
          <p>
            في حالة ُطلب التسجيل في الموقع، فإنك تلتزم بالمحافظة على سرية كلمة
            المرور الخاصة بك، وبذلك تكون مسؤولاً عن استخدام حسابك وكلمة المرور
            الخاصة بك. نحن نحتفظ بالحق في إزالة، أو استعادة، أو تغيير اسم
            المستخدم الذي تحدده إذا قررنا ذلك حسب تقديرنا الخاص، في حالة إذا
            وجدنا أن اسم المستخدم هذا غير مناسب أو بذيء أو غير مرغوب به. وعليه
            لا يستحق المستخدم بالمطالبة بأي تعويض معنوي أو مادي من إدارة الموقع
            أو مالكه.
          </p>
        </div>
      </div>
    </div>
    <!-- أنواع النشاطات المحظورة -->
    <div class="privacy-info">
      <div class="container">
        <div class="title">
          <h3>أنواع النشاطات المحظورة</h3>
          <h5>بصفتك مستخدًما للموقع، فإنك توافق على عدم</h5>
        </div>
        <div class="content">
          <ul>
            <li>
              <p>
                استرجاع البيانات أو أي محتوى آخر من الموقع لاستخدامها سواء كان
                ذلك بشكل مباشر أو غير مباشر، لإنشاء أي مجموعة أو القيام بعملية
                تحويل برمجية، أو إصدار قاعدة بيانات أو إنشاء دليل بدون إذن كتابي
                منا.
              </p>
            </li>
            <li>
              <p>
                السماح بأي استخدام غير مصرح به للموقع، بما في ذلك تجميع أسماء
                المستخدمين و / أو تجميع عناوين البريد الإلكتروني للمستخدمين عن
                طريق الوسائل الإلكترونية أو غيرها لغرض إرسال بريد الكتروني غير
                مرغوب به، أو بغرض إنشاء حسابات مستخدمين وذلك عبر استخدام أي
                وسائل آلية، أو بناء على أي إدعاءات غير صادقة.
              </p>
            </li>
            <li>
              <p>استخدام الموقع كوسيلة إعلانية أو لعرض وبيع السلع والخدمات.</p>
            </li>
            <li>
              <p>
                التحايل أو التعطيل أو التداخل مع خصائص الأمان ذات الصلة بالموقع،
                بما في ذلك تلك الخصائص التي تمنع أو تقيد استخدام أو نسخ أي محتوى
                أو تفرض قيودًا على استخدام الموقع و / أو المحتوى المتاح عليه.
              </p>
            </li>
            <li>
              <p>
                الخداع، أو الاحتيال أو التضليل لنا أو لأي أحد من المستخدمين،
                وخصوصاً في حالة القيام بأي محاولة للوصول إلى أي معلومات حساب
                خصوصية مثل كلمات مرور المستخدمين.
              </p>
            </li>
            <li>
              <p>
                الاستخدام غير السوي لخدمات الدعم لدينا، أو تقديم تقارير غير
                دقيقة عن حالات سوء المعاملة أو سوء السلوك عبر الموقع.
              </p>
            </li>
            <li>
              <p>
                المشاركة في أي استخدام آلي للنظام، مثل استخدام أكواد برمجية
                لإرسال التعليقات أو الرسائل، أو استخدام أي برامج مخصصـة للحصول
                على البيانات، أو استخدام الروبوتات (البرمجيات الآلية)، أو
                استخدام أي أدوات برمجية مماثلة لجمع البيانات والاستحواذ عليها.
              </p>
            </li>
            <li>
              <p>
                أي محاولة لانتحال شخصية مستخدم أو شخص آخر أو القيام بمحاولة
                استخدام اسم مستخدم آخر.
              </p>
            </li>
            <li>
              <p>
                استخدام أي معلومات تم الحصول عليها من الموقع من أجل استخدامها في
                إنتهاك الخصوصية أو الإساءة أو إيذاء أي شخص آخر.
              </p>
            </li>
            <li>
              <p>
                انتهاكك لخصوصية أو مضايقـة أو ترهيب أو تهديد أي من موظفينا أو
                وكالئنا العاملين الذين يعملون على تقديم أي خدمة من خدمات الموقع
                لك.
              </p>
            </li>
            <li>
              <p>
                حذف حقوق الطبع والنشر أو أي حقوق ملكية أخرى من أي محتوى موجود
                على الموقع.
              </p>
            </li>
            <li>
              <p>
                نسخ أو تعديل برنامج الموقع، بما في ذلك، على سبيل المثال لا
                الحصر، ملفات "الفلاش"، أو الأكواد البرمجية المرمزة بلغـة
                (php)"بي أتش بي"، أو الأكواد البرمجية المرمزة بلغة html (لغة
                ترميز النصوص)، أو بلغـة "جافا سكريبت"، أو أي كود برمجي آخر.
              </p>
            </li>
            <li>
              <p>
                رفع أو تحميل (أو أي محاولة لتحميل أو رفع على السيرفر الخاص
                بالموقع) الفيروسات أو برمجيات حصان طروادة المستخدم في التجسس أو
                أي مواد أخرى، بما في ذلك الاستخدام المفرط للرسائل غير المرغوب
                فيها (الإرسال المستمر للنص بصورة متكررة)، والتي تتعارض مع حق أي
                طرف (مستخدم) في الاستخدام للموقع بدون أي اعتراض أو تداخل، أو
                تعديل أو إعاقة أو عرقلة أو تغيير أو تعطيل استخدام الموقع أو
                ميزاته أو خصائصه أو تشغيله أو صيانته.
              </p>
            </li>
            <li>
              <p>
                التقليل من قدرنا، أو تشويه سمعتنا، أو إيقاع الضرر بنا، بحسب
                رأينا، سواء تم إيقاع الضرر علينا أو على الموقع.
              </p>
            </li>
            <li>
              <p>استخدام الموقع بطريقة تتعارض مع قوانين أو أنظمة سارية.</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- الخدمات المتاحة المدفوعة من موقع سيفيز :
 -->
    <div class="privacy-info">
      <div class="container">
        <div class="title">
          <h3>الخدمات المتاحة المدفوعة من موقع سيفيز</h3>
          <h5>
            هناك بعض البرامج والخدمات المدفوعة التي يقدمها موقع سيفيز إلى
            المستخدمين. ويوافق المستخدمون الذين يختارون استخدام الخدمات المدفوعة
            على البنود والشروط الإضافية التالية
          </h5>
        </div>
        <div class="content">
          <ul>
            <li>
              <p>
                يحتفظ الموقع بالحق في تعديل أو تغيير أو إضافة الخدمات والأسعار
                لهذه الخدمات في أي وقت.
              </p>
            </li>
            <li>
              <p>
                في حالة إجراء أي تغيير على الأسعار، سوف يتم إرسال إشعار لك عن
                هذا التغيير الذي حدث، ولن يسري التغيير إلا على الدورة المحاسبية
                التالية للفواتير.
              </p>
            </li>
            <li>
              <p>
                في حالة استحقاق أي ضرائب يتم فرضها على الخدمات حسب أنظمة وقوانين
                الدول فإنه يجب أن تتحملها أنت.
              </p>
            </li>
            <li>
              <p>
                إذا قمت بالتسجيل من خلال استخدام موقع أو تطبيق سيفيز و بمجرد أن
                يتم السداد، فإن الموقع لا يتيح استرجاع المبالغ المدفوعة في حالة
                الإلغاء.
              </p>
            </li>
            <li>
              <p>
                يحق للموقع أن يلغي الطلبات لأي سبب من الأسباب. قد تتضمن بعض
                الحالات الشائعـة التي يتم فيها إلغاء الطلبات أخطاء في التسعير أو
                وقوع مشاكل في إصدار الفواتير أو أن السبب يرجع لوقوع مشاكل في
                نظام الدفع بواسطة بطاقات الائتمان التي تم رفضها من قِبل المؤسسة
                المالية التي أصدرت البطاقة البنكية.
              </p>
            </li>
            <li>
              <p>
                توافق على تعويض الموقع عن النفقات التي تكبدها بصورة معقولة، بما
                في ذلك أتعاب المحاماة، المتكبدة في تحصيل المدفوعات وإنفاذ حقوقـه
                ذات الصلة بموجب هذه االتفاقية .
              </p>
            </li>
            <li>
              <p>
                فيما يتعلق بأي خدمة مدفوعة أو مجانية سواء للباحث عن فرصة عمل أو
                الباحث عن موظف، لا يتحمل الموقع أية مسؤولية فيما يتعلق بدقة
                بيانات مقدم طلب التوظيف، أو مقابلة مقدم طلب التوظيف أو أداء
                العمل، أو أهليته للعمل قبل أو بعد التوظيف، ولن تشارك في أي
                مفاوضات أو طرح أي مناقشة فيما يتعلق بخدمات التوظيف، أو الترقيـة،
                أو الإجراءات التأديبية، أو الفصـل من العمل، أو نقل مقدم الطلب
                الذي تم توظيفه في وقت الحق من قبل العميل. وكافة خدمات التقييم
                وخدمات مراجعة السيرة الذاتية التي يتم تقديمها كخدمة اختيارية.
              </p>
            </li>
            <li>
              <p>
                إن الموقع لا يقدم وعدًا أو ضمانًا بالتوظيف سواء من خلال الخدمات
                المجانية أو من خلال الخدمات المدفوعة.
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!--الشروط المحددة للإعلان عن وظيفة في قسم الإعلانات مدفوعة الأجر أو المجانية  -->
    <div class="privacy-info">
      <div class="container">
        <div class="title">
          <h3>
            الشروط المحددة للإعلان عن وظيفة في قسم الإعلانات مدفوعة الأجر أو
            المجانية
          </h3>
          <h5>
            تنطبق الشروط التاليـة على الخدمة حيـث يستخدم المستخدم الموقع لنشر
            الوظائف عبر الإنترنت
          </h5>
        </div>
        <div class="content">
          <ul>
            <li>
              <p>
                عدم استرجاع المبلغ المالي المدفوع: يمكنك ترقية أو تخفيض فئة
                الاشتراك أو إلغاء اشتراكك في خدمة النشر للوظائف في أي وقت.
              </p>
            </li>
            <li>
              <p>
                إذا قمت بالتسجيل من خلال استخدام الفترة التجريبية المجانية
                المتاحة من ضمن خدمات نشر الوظائف، فيمكنك إلغاء الخدمة دون تكبد
                أي رسوم في حالة الإلغاء خلال الفترة التجريبية المجانية. بمجرد أن
                يتم السداد، فإن الموقع لا يتيح استرجاع المبالغ المدفوعة في حالة
                الإلغاء.
              </p>
            </li>
            <li>
              <p>
                إدارة الحساب / تعليق الحساب: يجوز للموقع أو ممثليه أو فروعه أو
                شركائه أن يقرروا تعليق أو إنهاء حسابك في أي وقت ولأي سبب. تعود
                الأسباب الشائعة لذلك إلى الاستخدام غير السليم للخدمة، وعدم دقة
                المعلومات في طلبات راغبي العمل، والنشاط الاحتيالي، وإساءة
                استخدام عروض التجربة المجانية، والنشاط الذي ينتهك هذه الشروط أو
                سياسة الخصوصية الخاصة بنا. في حالة تعليق حسابك أو إنهائه، لن
                يكون هناك أي استرداد للمبالغ المالية المدفوعة؛ ومع ذلك سيتم
                إلغاء حسابك بدون تكبد أي رسوم إضافية.
              </p>
            </li>
            <li>
              <p>
                أحكام وبنود الفواتير: يتم تجديد بعض الخدمات تلقائيًا شهريًا.
                فيما يتعلق بهذه الخدمات، فإنه يتوجب السداد في اليوم الأول من
                فترة التجديد، في حالة توقف خدمة الدفع مثل توقف خدمة إصدار
                الفواتير، فإن هذا التوقف لا يعفيك من الالتزام بدفع الرسم الشهري،
                حتى في حالة عدم النشاط أو حتى لو كان ذلك بسبب عدم استخدام خدمات
                الموقع.
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!--تقديم الفرص الوظيفية بصورة متكافئة:  -->
    <div class="privacy-info">
      <div class="container">
        <div class="title">
          <h3>تقديم الفرص الوظيفية بصورة متكافئة</h3>
        </div>
        <div class="content">
          <p>
            إن الموقع يقدم فرص التوظيف بطريقة متكافئة، حيث يبذل الموظفون في
            الموقع قصارى جهدهم لمراقبة سلوكيات المستخدمين وإجراءات التوظيف فيما
            يتعلق باستخدامهم لموقعنا، على الرغم من أننا لا نتحمل المسؤولية عن
            تصرفات المستخدم وسلوكياته.
          </p>
        </div>
      </div>
    </div>
    <!-- الأعمال التطوعية -->
    <div class="privacy-info">
      <div class="container">
        <div class="title">
          <h3>الأعمال التطوعية</h3>
        </div>
        <div class="content">
          <p>
            كاستثناء من الحد الأدنى للسن المحدد لمستخدمي الموقع وبرنامج سيفيز،
            يمكن للمتطوعين في المؤسسات غير الربحية والفعاليات الخيرية أن تكون
            أعمارهم أقل من 18 سنة، وذلك بعد أخذ الإذن من أولياء أمورهم وموافقة
            إدارة الموقع.
          </p>
        </div>
      </div>
    </div>
    <!--لمستخدمون الدوليون  -->
    <div class="privacy-info">
      <div class="container">
        <div class="title">
          <h3>المستخدمون الدوليون</h3>
        </div>
        <div class="content">
          <p>
            إذا كنت تستخدم الخدمات على الموقع من مكان خارج دولة الإمارات
            العربية، فإنك تعتبر في هذه الحالة مسؤول عن الإلتزام بكافة القوانين
            والأنظمة المحلية.
          </p>
        </div>
      </div>
    </div>
    <!--المساهمة في النشر:  -->
    <div class="privacy-info">
      <div class="container">
        <div class="title">
          <h3>المساهمة في النشر</h3>
        </div>
        <div class="content">
          <p>
            نحن لسنا مسؤولون عن أي بيانات أو إقرارات في مساهماتك المقدمة من قبلك
            في أي منطقة على الموقع. أنت وحدك المسؤول عن مساهماتك في الموقع
            وتوافق صراحة على تبرئتنا من أي مسؤولية، والامتناع عن أي إجراء قانوني
            ضدنا بشأن مساهماتك.
          </p>
        </div>
      </div>
    </div>
    <!--لدينا الحق، بحسب تقديرنا المجرد في:
  -->
    <div class="privacy-info">
      <div class="container">
        <div class="title">
          <h3>لدينا الحق، بحسب تقديرنا المجرد في</h3>
        </div>
        <div class="content">
          <ul>
            <li>
              <p>تعديل أو مراجعة أو تغيير أي مساهمات</p>
            </li>
            <li>
              <p>
                إعادة تصنيـف أي مساهمات لوضعها فـي أماكن أكثر ملائمة على موقعنا
              </p>
            </li>
            <li>
              <p>حذف أي مساهمات في أي وقت ولأي سبب، دون سابق إنذار.</p>
            </li>
          </ul>
        </div>
        <div class="content">
          <p>
            ليس لدينا أي التزام بمراقبة مساهماتك، أو مساهمات الآخرين في الموقع
            وفي حال اطلاعك على أي مخالفات نظامية مترتبة على مساهمات الآخرين يقع
            عليك لا على الموقع إبالغ إدارة الموقع عنها.
          </p>
        </div>
      </div>
    </div>
    <!-- المواد التي تم تسليمها: -->
    <div class="privacy-info">
      <div class="container">
        <div class="title">
          <h3>المواد التي تم تسليمها</h3>
        </div>

        <div class="content">
          <p>
            أنت تقر وتوافق على أن: أية أسئلة يتم طرحها أو تعليقات أو مقترحات أو
            أفكار أو مناقشات أو معلومات أخرى تتعلق بالموقع ("المواد التي تم
            نشرها وتسليمها إلى الموقع") التي قدمتها لنا غير سرية وأنها سوف تكون
            من ضمن ملكيتنا الحصرية.
          </p>

          <p>
            إننا نمتلك الحقوق الحصرية، بما في ذلك جميع حقوق الملكية الفكرية، كما
            يحق لنا استخدام هذه التقارير ونشرها بشكل محدود بما يخضع لأي هدف
            قانوني، سواء كان ذلك الغرض تجاري أو غير ذلك، دون أي تعهد من جانبنا
            لك وبدون دفع أي تعويض لك.
          </p>

          <p>
            إنك تتنازل عن جميع الحقـوق المعنوية لأي من هذه المواد التي قمت
            بتسليمها إلى الموقع، وتضمن أن تكون ملكية أي من هذه المواد التي قمت
            بتسليمها لك، أو أن لديك الحق في إرسال وتسليم مثل هذه المواد.
          </p>
        </div>
      </div>
    </div>
    <!-- المعلنون -->
    <div class="privacy-info">
      <div class="container">
        <div class="title">
          <h3>المعلنون</h3>
        </div>
        <div class="content">
          <p>
            نسمح للمعلنين بعرض إعلاناتهم وأي معلومات أخرى في أجزاء محددة من
            الموقع، مثل وضع إعلانات على الشريط الجانبي أو عبر الأجزاء المخصصة
            لإعلانات البانر.
          </p>
          <p>
            في حالة إذا قمت بالإعلان معنا، فإنك تتحمل المسؤولية الكاملة عن أي
            إعلانات تضعها على الموقع وأي خدمات مقدمة على الموقع أو المنتجات التي
            يتم بيعها من خلال تلك الإعلانات. وبالإضافة إلى ذلك، باعتبارك معلنًا،
            فإنك تضمن امتلاكك لجميع الحقوق والصلاحيات لنشر الإعلانات على الموقع،
            بما في ذلك على سبيل المثال لا الحصر، حقوق الملكية الفكرية وحقوق
            الدعاية وحقوق التعاقد. إننا نتيح لك حجز المساحة الإعلانية لوضع مثل
            هذه الإعلانات، وليس لدينا أي علاقة أخرى مع المعلنين.
          </p>
        </div>
      </div>
    </div>
    <!-- إدارة الموقع: -->
    <div class="privacy-info">
      <div class="container">
        <div class="title">
          <h3>إدارة الموقع</h3>
          <h5>
            إننا نحتفظ بحقنا، ولكن لا يعتبر ذلك بمثابة التزام منا، بالأمور
            التالية
          </h5>
        </div>
        <div class="content">
          <ul>
            <li>
              <p>مراقبة الموقع لمنع وجود مخالفات لشروط الاستخدام المحددة هنا</p>
            </li>
            <li>
              <p>
                اتخاذ ما يلزم من الإجراءات القانونية المناسبة ضد أي شخص يقوم
                بانتهاك البنود القانونية أو أي من شروط الاستخدام المحددة، بما في
                ذلك على سبيل المثال لا الحصر الإبلاغ عن هذا المستخدم إلى السلطات
                المختصة
              </p>
            </li>
            <li>
              <p>
                وفقا لتقديرنا الخاص تقييد الوصول أو المنع أو الحد من إتاحة فرصة
                المساهمة أو التعطيل (إلى أقصى حد ممكن من الناحية التقنية) من
                مساهماتك
              </p>
            </li>
            <li>
              <p>
                وفقًا لتقديرنا الخاص، دون قيد، أو إشعار أو مسؤولية لإزالتها من
                الموقع أو تعطيل جميع الملفات والمحتويات التي يكون حجمها كبير
                جدًا أو بأي شكل من الأشكال تشكل عبئًا على أنظمتنا.
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- سياسة الخصوصية -->
    <div class="privacy-info">
      <div class="container">
        <div class="title">
          <h3>سياسة الخصوصية</h3>
        </div>

        <div class="content">
          <p>
            تلتزم بمراجعة سياسة الخصوصية الخاصة بنا على الموقع، وتلتزم بالعمل
            بموجبها وبموجب شروط الاستخدام هذه. في حالة إذا قمت بالوصول إلى
            الموقع من أي منطقة أخرى في العالم فإنه يجب الالتزام بالقوانين
            والأنظمة أو المتطلبات الأخرى التي تحكم الوصول إلى البيانات الشخصية،
            قد تختلف القوانين الخاصة بالاستخدام أو الإفصاح عن تلك البيانات في
            دولتك عن الأنظمة السارية في دولة الإمارات العربية.
          </p>
        </div>
      </div>
    </div>
    <!-- المدة الزمنية والإنهاء -->
    <div class="privacy-info">
      <div class="container">
        <div class="title">
          <h3>المدة الزمنية والإنهاء</h3>
        </div>

        <div class="content">
          <p>
            تظل شروط الاستخدام هذه سارية المفعول بالكامل أثناء استخدامك للموقع
            دون الحد من سريان أي بند آخر من شروط الاستخدام هذه، نحتفظ بالحق
            وفقًا لتقديرنا الخاص ودون أدنى إخطار أو مسؤولية، لرفض الوصول إلى
            الموقع واستخدامه (بما في ذلك حظر بعض عناوين بروتوكولات الإنترنت
            المعروفة باسم -(IP)- ، لحجب أي شخص لأي سبب، بما في ذلك على سبيل
            المثال لا الحصر في حالة انتهاك أي تعهد أو ضمان أو إقرار منصوص عليه
            في شروط الاستخدام هذه أو في أي نظام أو لائحة سارية.
          </p>
          <p>
            يجوز لنا وقف استخدامك أو مشاركتك في الموقع أو حذف حسابك وأي محتوى أو
            معلومات نشرتها في أي وقت، دون سابق إنذار، وفقًا لتقديرنا الخاص.
          </p>
          <p>
            في حالة قيامنا بإنهاء حسابك أو إيقافه لأي سبب من الأسباب، يحظر عليك
            التسجيل وإنشاء حساب جديد باسمك أو باسم مزيف أو مستعار، أو اسم أي طرف
            ثالث، بالإضافة إلى إنهاء حسابك أو إيقافه فإننا نملك الحق في اتباع
            الإجراءات النظامية المناسبة.
          </p>
        </div>
      </div>
    </div>
    <!-- انقطاع الخدمة: -->
    <div class="privacy-info">
      <div class="container">
        <div class="title">
          <h3>انقطاع الخدمة</h3>
        </div>

        <div class="content">
          <p>
            لا يمكننا تقديم تعهد بضمان أن الموقع سوف يكون متاحًا خلال جميع
            الأوقات. قد نواجه مشكلة في الأجهزة أو البرمجيات أو أي مشاكل أخرى أو
            نحتاج إلى إجراء صيانة متعلقة بالموقع، مما يؤدي إلى انقطاع أو تأخير
            أو وجود أخطاء في الوصول إلى الموقع.
          </p>
          <p>
            إننا نحتفظ بالحق في إجراء أي تغييـر أو مراجعة أو تحديث الموقع أو
            تعليقـه أو إيقافه أو تعديل الموقع بأي شكل من الأشكال في أي وقت أو
            لأي سبب وذلك دون الحاجة إلى إبلاغك.
          </p>
          <p>
            توافق على أننا لا تقع على عاتقنا أي مسؤولية مهما كانت في حال وقوع أي
            خسارة أو ضرر أو إزعاج ناتج عن عدم قدرتك على الوصول إلى الموقع أو
            استخدامه أثناء توقف الموقع أو تعطل خدماته.
          </p>
          <p>
            لن يتم تقديم أي تفسير لأي شرط من شروط الاستخدام هذه ولا يلزمنا
            الحفاظ على الموقع ودعمه أو تقديم أي تصحيحات أو تحديثات أو إصدارات
            تتعلق بهذا الشأن.
          </p>
        </div>
      </div>
    </div>
    <!-- النظام المطبق -->
    <div class="privacy-info">
      <div class="container">
        <div class="title">
          <h3>النظام المطبق</h3>
        </div>

        <div class="content">
          <p>
            تخضع شروط الاستخدام هذه واستخدامك للموقع للأنظمة واللوائح السارية في
            دولة الإمارات العربية.
          </p>
        </div>
      </div>
    </div>
    <!-- آلية حل النزاعات -->
    <div class="privacy-info">
      <div class="container">
        <div class="title">
          <h3>آلية حل النزاعات</h3>
        </div>
        <div class="content">
          <p>
            الحل عبر إجراء مفاوضات غير رسمية، من أجل تسريع إصدار القرار والتحكم
            في التكلفة لأي نزاع أو نقاش أو إدعاء متعلق بشروط الاستخدام المنصوص
            عليها هنا ("النزاعات") سواء منكم أو منا يتفق الطرفان في البداية على
            إجراء محاولة للتفاوض لحل أي نزاع بشكل غير رسمي لمدة ثلاثين (30)
            يومًا على الأقل قبل رفع الدعوى. تبدأ مثل هذه المفاوضات غير الرسمية
            بموجب إصدار إشعار خطي من أحد الطرفين وإرساله للطرف الآخر. في حال إذا
            فشلـت المفاوضات، يلتزم الطرفان بإحالة النزاع إلى المحكمة المختصة في
            دولة الإمارات العربية.
          </p>
        </div>
      </div>
    </div>
    <!-- لقيام بالتصحيحات -->
    <div class="privacy-info">
      <div class="container">
        <div class="title">
          <h3>القيام بالتصحيحات</h3>
        </div>
        <div class="content">
          <p>
            قد تكون هناك معلومات منشورة على الموقع تحتوي على أخطاء مطبعية أو
            نتيجة لعدم الدقة أو وقوع سهو، بما في ذلك الوصف، والتسعير، ومختلف
            المعلومات الأخرى.
          </p>
          <p>
            نحتفظ بالحق في تصحيح أي أخطاء ناتجـة عن عدم الدقـة أو وقوع سهو أو
            إجراء تعديل أو تحديث في المعلومات المتاحة على الموقع في أي وقت دون
            الحاجة إلى إصدار أي إشعار مسبق بذلك.
          </p>
        </div>
      </div>
    </div>
    <!--إخلاء المسؤولية:  -->
    <div class="privacy-info">
      <div class="container">
        <div class="title">
          <h3>إخلاء المسؤولية</h3>
        </div>
        <div class="content">
          <p>
            إنك توافق على أن استخدامك للموقع والخدمات التي نقدمها، هي مسؤوليتك
            وحدك. حيـث أننا نخلي مسؤوليتنا عن تقديم كافـة الضمانات، سواء كانت
            بصورة صريحة أو ضمنيـة، فيما يتعلق بالموقع وطريقـة استخدامك له، بما
            في ذلك، على سبيل المثال لا الحصر، تقديم تعهد ضمان التطابق بغرض تحقيق
            هدف معين، وعدم الانتهاك .
          </p>
        </div>
      </div>
    </div>
    <!-- التعويض -->
    <div class="privacy-info">
      <div class="container">
        <div class="title">
          <h3>التعويض</h3>
          <div class="content">
            <p>
              أنت توافق على توفير الحماية لنا، وتعويضنا، وإخلاء مسؤوليتنا، بما
              في ذلك شركاتنا الفرعية، والشركات التابعة لنا، وكل موظفينا ووكالئنا
              وشركائنا وموظفينا، عن أي خسارة أو ضرر أو التزام أو مطالبة أو دعوى،
              بما في ذلك أتعاب المحامين "الرسوم والمصاريف." التي قام برفعها/تسبب
              بها الغير إذا كانت ناشئة عن
            </p>
          </div>
        </div>
        <div class="content">
          <ul>
            <li>
              <p>مساهماتك في الموقع</p>
            </li>
            <li>
              <p>استخدامك للموقع.</p>
            </li>
            <li>
              <p>مخالفتك لشروط الاستخدام هذه.</p>
            </li>
            <li>
              <p>في حالة مخالفتك للتعهدات والضمانات التي قمت بتقديمها.</p>
            </li>
            <li>
              <p>
                نتهاكك لحقوق الغير، بما في ذلك على سبيل المثال لا الحصر حقوق
                الملكية الفكرية
              </p>
            </li>
            <li>
              <p>
                القيام بأي تصرف ضار صريح تجاه أي مستخدم آخر للموقع قمت بالاتصال
                معه عبر الموقع.
              </p>
            </li>
          </ul>
        </div>
        <div class="content">
          <p>
            بغض النظر عما سبق، فإننا نحتفظ بحقنا، وعلى نفقتك الخاصة، لتتولى
            الدفاع الحصري ومتابعة أي مسألة تتطلب منك دفع تعويض لنا، وأنك توافق
            على التعاون معنا على نفقتك الخاصة، بدفاعنا عن هذه المطالبات. سنبذل
            جهودًا معقولة لإخطارك بأي من هذه المطالبات أو الإجراءات أو الخطوات
            التي تخضع من خلالها وبموجبها لدفع هذا التعويض عند علمك بذلك الأمر.
          </p>
        </div>
      </div>
    </div>
    <!--بيانات المستخدمين  -->
    <div class="privacy-info">
      <div class="container">
        <div class="title">
          <h3>بيانات المستخدمين</h3>
        </div>
        <div class="content">
          <p>
            للموقع الاحتفاظ ببعض البيانات التي ترسلهـا إلى الموقع والبيانات
            المتعلقة باستخدامك للموقع لغرض إدارة أداء الموقـع. على الرغم من أننا
            سوف نقوم بإجراء نسخ احتياطي بصفة دورية ومنتظمة للبيانات على الموقع،
            فإنك أنت وحدك المسؤول عن كافة البيانات التي ترسلها أو التي تتعلق بأي
            نشاط قمت به من خلال استخدام الموقع.
          </p>
          <p>
            إنك توافـق على أننا لن نتحمـل أية مسؤولية تجاهك عن أي فقدان أو تلـف
            لأي من هذه البيانات، وتتنازل بموجبه عن المطالبة برفع الدعوى ضدنا في
            حالة فقد أو تلف أي من هذه البيانات.
          </p>
        </div>
      </div>
    </div>
    <!--لاتصالات الإلكترونية والمعاملات والتوقيعات  -->
    <div class="privacy-info">
      <div class="container">
        <div class="title">
          <h3>الاتصالات الإلكترونية والمعاملات والتوقيعات</h3>
        </div>
        <div class="content">
          <p>
            زيارة الموقع وإرسال رسائل البريد الإلكتروني وإكمال النماذج عبر
            الإنترنت تعتبر بمثابة اتصالات إلكترونية. إنك توافق على تلقي
            المراسلات بصورتها الإلكترونية، وحيث أنك موافق على أن جميع
            الاتفاقيات، والإخطارات، والإفصاحات، وغيرها من الاتصالات التي نقدمها
            إليك إلكترونيا،ً عبر البريد الإلكتروني وعلى الموقع، وستلبـي أي
            متطلبات قانونية تتطلب بأن يتم هذا التواصل بصورة كتابية.
          </p>
          <p>
            إنك تقر وتوافق على استخدام التوقيع الإلكتروني والعقـود والأوامر
            الأخرى، والتسليم الإلكتروني للإشعارات واللوائح وسجلات المعاملات التي
            بدأتها أو أكملتها عبر الموقع.
          </p>
          <p>
            إنك تتنازل عن أي حقوق أو مطالبات بموجب أي قوانين أو لوائح أو أنظمة
            في أي دائرة قضائية تتطلـب توقيعًا أصليًا أو تسليمًا أو الاحتفاظ
            بسجلات غير إلكترونية أو دفعات أو منح ائتمانات من خلال أي وسيلة
            إلكترونية أخرى من الوسائل الإلكترونية.
          </p>
        </div>
      </div>
    </div>
    <!-- متنوعات -->
    <div class="privacy-info">
      <div class="container">
        <div class="title">
          <h3>متنوعات</h3>
        </div>
        <div class="content">
          <ul>
            <li>
              <p>
                تشكل شروط الاستخدام هذه وأي سياسات أو قواعد تشغيل يتم نشرها عبر
                الموقع أو فيما يتعلق بالموقع اتفاقية بينك وبيننا.
              </p>
            </li>
            <li>
              <p>
                إن فشلنا في ممارسة أو تطبيق أي حق أو شرط من شروط الاستخدام هذه
                لا يعد تنازل عن هذا الحق أو الشرط.
              </p>
            </li>
            <li>
              <p>
                إن شروط الاستخدام هذه سارية إلى أقصى حد مسموح به بموجب النظام.
                يجوز لنا إحالة أي حق أو جميع حقوقنا والتزاماتنا تجاه الآخرين في
                أي وقت.
              </p>
            </li>
            <li>
              <p>
                لن نكون مسؤولين عن أي خسارة أو تلف أو تأخير، أو فشل بسبب أي حادث
                خارج عن إرادتنا.
              </p>
            </li>
            <li>
              <p>
                في حالة إذا ثبت أن أي شرط أو بند من بنود الاستخدام هذه غير نظامي
                أو باطل أو غير قابل للتنفيذ، فإن هذا البند أو جزء منه يعتبر قابل
                للفصل بموجب شروط الاستخدام هذه ولا يؤثر على صالحية وسريان أي من
                الأحكام والبنود الأخرى.
              </p>
            </li>

            <li>
              <p>
                لا يوجد مشروع مشترك أو شراكة أو علاقة توظيف أو وكالة بينك وبيننا
                بموجب شروط الاستخدام أو استخدام الموقع.
              </p>
            </li>
            <li>
              <p>
                إنك توافق على أنه لن يتم تفسير شروط الاستخدام هذه ضدنا، وتتنازل
                عن جميع الدفاعات التـي قد تكون لديك بناءً على النموذج
                الإلكترونـي لشروط الاستخدام هذه وعدم وجود توقيع من جانب الطرفين
                لتنفيذ هذه الشروط.
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- اللغة -->
    <div class="privacy-info">
      <div class="container">
        <div class="title">
          <h3>اللغة</h3>
        </div>
        <div class="content">
          <p>
            في حال وجود أي تباين بين النص العربي والإنجليزي فإنه يغلب النص
            العربي على النص الإنجليزي.
          </p>
        </div>
      </div>
    </div>
    <!-- للتواصل معنا:
 -->
    <div class="privacy-info">
      <div class="container">
        <div class="title">
          <h3>للتواصل معنا</h3>
        </div>
        <div class="content">
          <p>
            لإرسال شكـوى بخصوص الموقع أو لتلقي مزيد من المعلومات حول استخدام
            الموقع، يرجى الاتصال بنا على البريد الإلكتروني info@cveeez.com
          </p>
        </div>
      </div>
    </div>
    <!--التعديلات  -->
    <div class="privacy-info">
      <div class="container">
        <div class="title">
          <h3>التعديلات</h3>
        </div>
        <div class="content">
          <p>سوف يقوم الموقع بتحديث شروط الاستخدام هذه من حين لآخر.</p>
        </div>
      </div>
    </div>
  </article>
</div>

<section class="footer" id="contact-us">
  <app-footer></app-footer>
</section>
