.close {
  text-align: end;
  button {
    all: unset;
    cursor: pointer;
    padding: 18px;
  }
}

input {
  background: #ebe9e9 !important;
  border-radius: 10px;
}
.resend {
  all: unset;
  cursor: pointer;
  color: #1293c3;
}
