<section class="profile-view">
  <div class="page-title">
    <h3  >
      <a (click)="goBack()" role="button">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-chevron-left"
          viewBox="0 0 16 16">
          <path fill-rule="evenodd"
            d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" />
        </svg>
      </a>
      <span class="mx-2">
        {{ "viewProfile.AccountDetails" | translate }}
      </span>
    </h3>
  </div>
  <div class="page-content">
    <div class="card-body py-3">
      <div class="user-info">
        <div class="row align-items-center">
          <div class="col-lg-6 my-3">
            <div class="main-info">
              <div class="row align-items-center">
                <div class="col-lg-4 col-md-6 my-2">
                  <div class="user-img">
                    <img *ngIf="agentData?.logoImageStorageFileUrl === null" src="/assets/imgs/user.svg" alt=""
                      srcset="" />
                    <img *ngIf="agentData?.logoImageStorageFileUrl !== null" [src]="agentData?.logoImageStorageFileUrl"
                      alt="" srcset="" class="img-user" />

                    <div class="action" *ngIf="agentData?.referenceNumber !== null">
                      <button (click)="copy(agentData?.referenceNumber)">
                        <img src="/assets/imgs/copy.svg" alt="" srcset="" />
                      </button>
                      <span> ID : {{ agentData?.referenceNumber }} </span>
                    </div>
                  </div>
                </div>
                <div class="col-lg-8 col-md-6 my-2">
                  <div class="user-details">
                    <h3 *ngIf="agentData?.agentRepresentativeName !== null">
                      {{ agentData?.agentRepresentativeName }}
                    </h3>
                    <h3 *ngIf="agentData?.agentRepresentativeName === null">
                      -
                    </h3>
                    <h5 *ngIf="agentData?.agentRepresentativePosition !== null">
                      {{ agentData?.agentRepresentativePosition }}
                    </h5>
                    <h5 *ngIf="agentData?.agentRepresentativePosition === null">
                      -
                    </h5>
                    <button *ngIf="!isAdmin">
                      {{ "viewProfile.accountPromotion" | translate }}
                      <img src="/assets/imgs/tarkya.svg" alt="" srcset="" />
                    </button>
                    <ul class="list-unstyled">
                      <li *ngIf="agentData?.isAllowNotification">
                        <img src="/assets/imgs/check.svg" alt="" srcset="" />
                        <span class="mx-2">
                          {{ "viewProfile.notificaionOn" | translate }}
                        </span>
                      </li>

                      <li *ngIf="!agentData?.isAllowNotification">
                        <img src="/assets/imgs/check.svg" alt="" srcset="" />
                        <span class="mx-2">
                          {{ "viewProfile.notificaionOff" | translate }}
                        </span>
                      </li>
                      <li>
                        <img src="/assets/imgs/check.svg" alt="" srcset="" />
                        <span class="mx-2">
                          {{ "viewProfile.terms" | translate }}
                        </span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-1"></div>
          <div class="col-lg-5 my-3">
            <div class="row">
              <div class="col-lg-6 my-3">
                <div class="info-card">
                  <div class="icon">
                    <img src="/assets/imgs/location.svg" alt="" srcset="" />
                  </div>
                  <div class="mx-3">
                    <h4>
                      {{ "viewProfile.Country" | translate }}
                    </h4>
                    <p *ngIf="agentData?.countryName !== null">
                      {{ agentData?.countryName }}
                    </p>
                    <p *ngIf="agentData?.countryName === null">-</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 my-3">
                <div class="info-card">
                  <div class="icon">
                    <img src="/assets/imgs/mobile.svg" alt="" srcset="" />
                  </div>
                  <div class="mx-3" >
                    <h4>
                      {{ "viewProfile.phoneNumber" | translate }}
                    </h4>
                    <p style="direction: ltr;" *ngIf="agentData?.agentMobileNumber !== null">
                      +{{ agentData?.agentCountryCode
                      }}{{ agentData?.agentMobileNumber }}
                    </p>
                    <p *ngIf="agentData?.agentMobileNumber === null">-</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 my-3">
                <div class="info-card">
                  <div class="icon">
                    <img src="/assets/imgs/mail.svg" alt="" srcset="" />
                  </div>
                  <div class="mx-3">
                    <h4>
                      {{ "viewProfile.Email" | translate }}
                    </h4>
                    <p *ngIf="agentData?.agentRepresentativeEmail !== null">
                      {{ agentData?.agentRepresentativeEmail }}
                    </p>
                    <p *ngIf="agentData?.agentRepresentativeEmail === null">
                      -
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="main-body-sec">
      <div class="sec-title">
        <h3 class="m-0">
          {{ "viewProfile.InformationAboutTheFacility" | translate }}
        </h3>
      </div>
      <div class="card-body py-3">
        <div class="row justify-content-between">
          <div class="col-lg-6 my-4">
            <div class="facility-info border-sec">
              <span>
                <img src="/assets/imgs/poilts.svg" alt="" srcset="" />
                {{ "viewProfile.TradeName" | translate }}
              </span>
              <strong *ngIf="agentData?.name !== null">
                {{ agentData?.name }}</strong>
              <strong *ngIf="agentData?.name === null"> -</strong>
            </div>
          </div>
          <div class="col-lg-6 my-4">
            <div class="facility-info">
              <span>
                <img src="/assets/imgs/poilts.svg" alt="" srcset="" />
                {{ "viewProfile.CommercialRegistrationNo" | translate }}
              </span>
              <strong *ngIf="agentData?.commercialRegistrationNo !== null">{{ agentData?.commercialRegistrationNo }}
              </strong>
              <strong *ngIf="agentData?.commercialRegistrationNo === null">-</strong>
            </div>
          </div>
        </div>
        <div class="row justify-content-between">
          <div class="col-lg-6 my-4">
            <div class="facility-info border-sec">
              <span>
                <img src="/assets/imgs/poilts.svg" alt="" srcset="" />
                {{ "viewProfile.ExpiryDate" | translate }}
              </span>
              <strong *ngIf="agentData?.expirationDate !== null">{{ agentData?.expirationDate | date : "dd/MM/yyyy" }}
              </strong>
              <strong *ngIf="agentData?.expirationDate === null">- </strong>
            </div>
          </div>
          <div class="col-lg-6 my-4">
            <div class="facility-info">
              <span>
                <img src="/assets/imgs/poilts.svg" alt="" srcset="" />
                {{ "viewProfile.companyLogo" | translate }}
              </span>
              <strong *ngIf="agentData?.commercialRegistertionNoImageName !== null">
                <a target="_blank" [href]="
                    agentData?.commercialRegistertionNoImageStorageFileUrl
                  " download>{{ "viewProfile.ClickHereToView" | translate }}
                </a>
              </strong>
              <strong *ngIf="agentData?.commercialRegistertionNoImageName === null">
                -
              </strong>
            </div>
          </div>
        </div>
        <div class="row justify-content-between">

          <div class="col-lg-6 my-4">
            <div class="facility-info border-sec" >
              <span>
                <img src="/assets/imgs/poilts.svg" alt="" srcset="" />
                {{ "viewProfile.agentMobileNumber" | translate }}
              </span>
              <strong style="direction: ltr;" *ngIf="agentData?.mobileNumber !== null">+{{ agentData?.countryCode }}{{ agentData?.mobileNumber
                }}
              </strong>
              <strong *ngIf="agentData?.mobileNumber === null">- </strong>
            </div>
          </div>

          <div class="col-lg-6 my-4">
            <div class="facility-info">
              <span>
                <img src="/assets/imgs/poilts.svg" alt="" srcset="" />
                {{ "viewProfile.email" | translate }}
              </span>
              <strong *ngIf="agentData?.email !== null">
                {{ agentData?.email }}
              </strong>
              <strong *ngIf="agentData?.email === null"> - </strong>
            </div>
          </div>
        </div>
      </div>
      <div class="sec-title">
        <h3>
          {{ "viewProfile.CompanyAccountLink" | translate }}
        </h3>
      </div>
      <div class="card-body py-3">
        <div class="row justify-content-between">
          <div class="col-lg-12 my-4">
            <div class="facility-info">
              <span>
                <img src="/assets/imgs/poilts.svg" alt="" srcset="" />
                {{ "viewProfile.LinkedinLink" | translate }}
              </span>
              <strong *ngIf="agentData?.linkedInAccountLink !== null && agentData?.linkedInAccountLink !== ''">
                <a target="_blank" [href]="agentData?.linkedInAccountLink">
                  {{ "viewProfile.ClickHereToView" | translate }}
                </a>
              </strong>
              <strong *ngIf="agentData?.linkedInAccountLink === null">
                -
              </strong>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="main-body-sec">
      <div class="sec-title">
        <h3 class="mt-0">
          {{ "viewProfile.ads" | translate }}
        </h3>
      </div>
      <div class="card-body py-3">
        <div class="row justify-content-between">
          <div class="col-lg-12 my-4">
            <div class="facility-info">
              <strong>
                {{ agentData?.description }}
              </strong>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>