<section class="change-pass-sec">
  <!-- begin::Header -->
<div class="close">
  <button (click)="closeFunction()">
    <img src="/assets/imgs/error.png" alt="" srcset="" />
  </button>
</div>
<!-- begin::form -->
<form
  [formGroup]="changePasswordForm"
  class="form w-100"
  novalidate="novalidate"
  id="kt_login_signin_form"
>
  <!-- begin::card -->
  <div class="card border-Secondary border-4 border border-dashed card-body">
    <!-- begin::Header -->

    <div class="cards-header">
      <div class="mb-10 px-8">
        <h1 class="text-dark fw-bolder mb-3">
          {{ "changePassword.DoYouWantToChangeThePassword" | translate }}
        </h1>
        <div class="text-gray-500 fw-semibold fs-6">
          {{ "changePassword.EnterYourPassword" | translate }}
        </div>
        <img src="/assets/imgs/Characters.png" alt="" srcset="" />
      </div>
    </div>
    <!-- end::Header -->
    <!-- begin::Body -->

    <div class="row">
      <div class="col-lg-12">
        <div class="">
          <!--begin::Input-->
          <div>
            <div class="fv-row mb-2 fv-plugins-icon-container">
              <!--begin::Label-->
              <label class="fs-6 fw-semibold form-label mt-3">
                <span class="required">
                  {{ "changePassword.oldPassword" | translate }}
                </span>

                <i
                  class="fas fa-exclamation-circle ms-1 fs-7"
                  data-bs-toggle="tooltip"
                  aria-label="Enter the contact's email."
                  data-bs-original-title="Enter the contact's email."
                  data-kt-initialized="1"
                ></i>
              </label>
              <!--end::Label-->
            </div>
            <!--begin::Input-->
            <div class="input-group mb-5">
              <input
                [type]="showPassword ? 'text' : 'password'"
                class="form-control bg-transparent"
                formControlName="currentPassword"
                autocomplete="off"
                name="FirstName"
                value=""
                [ngClass]="{
                  'is-invalid':
                    changePasswordForm.controls['currentPassword'].invalid,
                  'is-valid':
                    changePasswordForm.controls['currentPassword'].valid
                }"
              />
              <span class="input-group-text" id="basic-addon1">
                <i
                  class="toggle-password fa fa-fw fa-eye-slash"
                  [ngClass]="showPassword ? ' fa-eye' : ' fa-eye-slash'"
                  (click)="togglePasswordVisibilty()"
                  class="toggle-password fa fa-fw"
                ></i>
              </span>
            </div>
            <ng-container
              [ngTemplateOutlet]="formError"
              [ngTemplateOutletContext]="{
                validation: 'required',
                message: 'Validation.PasswordIsRequired' | translate,
                control: changePasswordForm.controls['currentPassword']
              }"
            ></ng-container>

            <!-- <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                validation: 'minlength',
                message:'Validation.PasswordMinLength' | translate,
                control: changePasswordForm.controls['currentPassword']
              }"></ng-container>
                <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                validation: 'maxlength',
                message: 'Validation.PasswordMaxLength' | translate,
                control: changePasswordForm.controls['currentPassword']
              }"></ng-container> -->
            <ng-container
              [ngTemplateOutlet]="formError"
              [ngTemplateOutletContext]="{
                validation: 'pattern',
                message: 'Validation.PasswordPattern' | translate,
                control: changePasswordForm.controls['currentPassword']
              }"
            ></ng-container>
            <!--end::Input-->
          </div>
          <!--ending::Input-->
          <!--begin::Input-->
          <div>
            <div class="fv-row mb-2 fv-plugins-icon-container">
              <!--begin::Label-->
              <label class="fs-6 fw-semibold form-label mt-3">
                <span class="required">
                  {{ "changePassword.newPassword" | translate }}
                </span>

                <i
                  class="fas fa-exclamation-circle ms-1 fs-7"
                  data-bs-toggle="tooltip"
                  aria-label="Enter the contact's email."
                  data-bs-original-title="Enter the contact's email."
                  data-kt-initialized="1"
                ></i>
              </label>
              <!--end::Label-->
            </div>
            <!--begin::Input-->
            <div class="input-group mb-5">
              <input
                [type]="showNewPassword ? 'text' : 'password'"
                class="form-control bg-transparent"
                formControlName="newPassword"
                autocomplete="off"
                name="NewPassword"
                value=""
                [ngClass]="{
                  'is-invalid':
                    changePasswordForm.controls['newPassword'].invalid,
                  'is-valid': changePasswordForm.controls['newPassword'].valid
                }"
              />
              <span class="input-group-text" id="basic-addon1">
                <i
                  class="toggle-password fa fa-fw fa-eye-slash"
                  [ngClass]="showNewPassword ? ' fa-eye' : ' fa-eye-slash'"
                  (click)="toggleNewPasswordVisibilty()"
                  class="toggle-password fa fa-fw"
                ></i>
              </span>
            </div>
            <ng-container
              [ngTemplateOutlet]="formError"
              [ngTemplateOutletContext]="{
                validation: 'required',
                message: 'Validation.PasswordIsRequired' | translate,
                control: changePasswordForm.controls['newPassword']
              }"
            ></ng-container>

            <ng-container
              [ngTemplateOutlet]="formError"
              [ngTemplateOutletContext]="{
                validation: 'pattern',
                message: 'Validation.PasswordPattern' | translate,
                control: changePasswordForm.controls['newPassword']
              }"
            ></ng-container>
            <!--end::Input-->
          </div>
          <!--ending::Input-->
          <!--begin::Input-->
          <div class="mb-12">
            <div class="fv-row mb-2 fv-plugins-icon-container">
              <!--begin::Label-->
              <label class="fs-6 fw-semibold form-label mt-3">
                <span class="required">
                  {{ "changePassword.confirmPassword" | translate }}
                </span>

                <i
                  class="fas fa-exclamation-circle ms-1 fs-7"
                  data-bs-toggle="tooltip"
                  aria-label="Enter the contact's email."
                  data-bs-original-title="Enter the contact's email."
                  data-kt-initialized="1"
                ></i>
              </label>
              <!--end::Label-->
            </div>
            <!--begin::Input-->
            <div class="input-group mb-5">
              <input
                [type]="showConfirmPassword ? 'text' : 'password'"
                class="form-control bg-transparent"
                formControlName="confirmPassword"
                autocomplete="off"
                name="ConfirmNewPassword"
                value=""
                [ngClass]="{
                  'is-invalid':
                    changePasswordForm.controls['confirmPassword'].invalid,
                  'is-valid':
                    changePasswordForm.controls['confirmPassword'].valid
                }"
              />
              <span class="input-group-text" id="basic-addon1">
                <i
                  class="toggle-password fa fa-fw fa-eye-slash"
                  [ngClass]="showConfirmPassword ? ' fa-eye' : ' fa-eye-slash'"
                  (click)="toggleConfirmPasswordVisibilty()"
                  class="toggle-password fa fa-fw"
                ></i>
              </span>
            </div>
            <ng-container
              [ngTemplateOutlet]="formError"
              [ngTemplateOutletContext]="{
                validation: 'required',
                message: 'Validation.PasswordIsRequired' | translate,
                control: changePasswordForm.controls['confirmPassword']
              }"
            ></ng-container>

            <ng-container
              [ngTemplateOutlet]="formError"
              [ngTemplateOutletContext]="{
                validation: 'pattern',
                message: 'Validation.PasswordPattern' | translate,
                control: changePasswordForm.controls['confirmPassword']
              }"
            ></ng-container>
            <ng-container
              *ngIf="
                changePasswordForm.controls['confirmPassword'].errors &&
                changePasswordForm.controls['confirmPassword'].errors
                  .ConfirmPassword
              "
            >
              <div class="fv-plugins-message-container">
                <div class="fv-help-block">
                  {{ "SingUp.passwordMatch" | translate }}
                </div>
              </div>
            </ng-container>
            <!--end::Input-->
          </div>
          <!--ending::Input-->
          <div class="fv-row mb-2 fv-plugins-icon-container">
            <div class="text-center mb-10 Actions">
              <button
                type="submit"
                id="kt_sign_in_submit"
                class="genral-button"
                (click)="savePassword()"
              >
                <span class="indicator-progress">
                  {{ "Shared.PleaseWait" | translate }}
                  <span
                    class="spinner-border spinner-border-sm align-middle ms-2"
                  ></span>
                </span>

                <span class="indicator-label">{{
                  "Shared.Continue" | translate
                }}</span>
              </button>
              <button (click)="closeFunction()">{{ "Buttons.Cancel" | translate }}</button>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="col-lg-6 hide-img">
        <img
          src="./assets/media/clint/changePassword.svg"
          alt=""
          width="485.5px"
          height="485px"
        />
      </div> -->
    </div>

    <!-- begin::Body -->
  </div>
  <!-- end::card -->
</form>
<!-- end::form -->
</section>

<ng-template
  #formError
  let-control="control"
  let-message="message"
  let-validation="validation"
>
  <ng-container
    *ngIf="control.hasError(validation) && (control.dirty || control.touched)"
  >
    <div class="fv-plugins-message-container">
      <div class="fv-help-block">
        <span role="alert">
          {{ message }}
        </span>
      </div>
    </div>
  </ng-container>
</ng-template>
